//Allans Notes:
//If the email is too long it breaks.
.crumbs
  %a{ href: ''}
    %span= "<"
    Back to companies
%section.image_left_three_col.row.pad_in.clearfix
  .col.two_thirds.right_border
    .profile.right_border
      .image
        =image_tag 'mockups/logo_big.png'
      %p.website_link
        = link_to 'enspiral.com', '#'
      %ul.social.clearfix
        %li
          %a.twitter
            t
        %li
          %a.facebook
            f
        %li
          %a.linked_in
            ln
      %dl
        %dt Phone:
        %br
        %dd (Josuha) 0271234567
        %dd (Alanna) 0271234457
        %dt Email:
        %dd contact@enspiral.com
    .profile_description
      %h1 Enspiral contracting
      %p.subtext.small
        Wellington, New Zealand
      %p.subtext
        %strong 
          %em
            Change some stuff huzzah for the words that wrap two lines.
      %p
        Some stuff out of the manifesto that we can plonk in here which gives a brief overview of the 
        Company and so on so forth.
      %p Maybe there is even two paragraphs with a line break in the middle - scandal!
  .col.third.no_right_pad.center_text
    %p
      Potentially a wsiwyg or image upload field so a company can personalize to a degree.
    %p.exciting
      Woah exciting a quote or something similar
-#Unless no projects
%section.projects_list.four_across.pad_in.pad_y.row.sep.clearfix
  .quarter.col
    %h2 enspiral contracting's Projects
    %p
      Enspiral contracting projects include client work \
      consectetur adipisicing elit, v esse uis aute irure uis aute i

  .pictoral_list.clearfix
    -# @projects.limit(3).each_with_index do |project, index|
    -#.pictoral_list_item.col{class: "#{index == 2 ? 'last' : ''}"}
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/project_thumb.png'
      %h3 Project Name
      %p.byline A website for a new...
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/project_thumb_1.png'
      %h3 Project Name
      %p.byline A website for a new...
    .pictoral_list_item.col.last
      .image
        =image_tag 'mockups/project_thumb_2.png'
      %h3 Project Name
      %p.byline A website for a new...
    .expandee
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/project_thumb.png'
        %h3 Project Name
        %p.byline A website for a new...
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/project_thumb_1.png'
        %h3 Project Name
        %p.byline A website for a new...
      .pictoral_list_item.col.last
        .image
          =image_tag 'mockups/project_thumb_2.png'
        %h3 Project Name
        %p.byline A website for a new...
    .expander
      %a more...
    =content_for :javascripts do
      :coffeescript
        dropdown = new Enspiral.Views.CleanDropDown(
          el: '.projects_list'

        )
%section.people_list.four_across.pad_in.pad_y.row.sep.clearfix
  .quarter.col
    %h2 enspiral contracting's People
    .expandee
      %nav.left_nav
        .search_box
          =label_tag :search, 'Search for someone:'
          =text_field_tag :search
        %h4 Show:
        %ul
          %li 
            =link_to "All", list_people_path(anchor: 'index')
          %li
            =link_to "Full Timers", list_people_path(anchor: 'full_time')
          %li
            =link_to "Part Timers", list_people_path(anchor: 'part_time')
        %h4 Based In:
        %ul
          %li
        %h4 Order By:
        %ul
          %li
            =link_to "Longest with enspiral", list_people_path(anchor: 'oldest')
          %li
            =link_to "Newest with enspiral", list_people_path(anchor: 'newest')


  .pictoral_list.clearfix
    -# @projects.limit(3).each_with_index do |project, index|
    -#.pictoral_list_item.col{class: "#{index == 2 ? 'last' : ''}"}
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/person_thumb.jpeg'
      %h3 Project Name
      %p.byline A website for a new...
    .pictoral_list_item.col
      .image
        =image_tag 'mockups/person_thumb_1.jpeg'
      %h3 Project Name
      %p.byline A website for a new...
    .pictoral_list_item.col.last
      .image
        =image_tag 'mockups/person_thumb_2.jpeg'
      %h3 Project Name
      %p.byline A website for a new...
    .expandee
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/person_thumb.jpeg'
        %h3 Project Name
        %p.byline A website for a new...
      .pictoral_list_item.col
        .image
          =image_tag 'mockups/person_thumb_1.jpeg'
        %h3 Project Name
        %p.byline A website for a new...
      .pictoral_list_item.col.last
        .image
          =image_tag 'mockups/person_thumb_2.jpeg'
        %h3 Project Name
        %p.byline A website for a new...
    .expander
      %a more...
    =content_for :javascripts do
      :coffeescript
        dropdown = new Enspiral.Views.CleanDropDown(
          el: '.people_list'
        )
%section.bottom_content.row.pad_in.pad_y.sep.clearfix
  .col.two_thirds.right_border
    %h4 Blogs
    .blog_posts
      .blog_post
        continue reading...
        %h4
          %a
            Reflection on my internship at Enspiral
        %p 
          As part of my studies in computer science, I had the chance to take part in three professional experiences in the past three years. Each experience really helped develop my skills further, as well as gaining self-confidence and finding my... 
          %a
            %em
              read more...
      .blog_post
        %h4 
          %a
            Balancing work and family
        %p 
          We have a mission at Enspiral, well we’ve got several but one which I am super excited about is helping find work for parents with young children, particularly stay at home mothers. 
          %a
            %em
              read more...
  .col.third.no_right_pad.center_text
    .tweets
      = javascript_include_tag "http://widgets.twimg.com/j/2/widget.js"
      :javascript
        new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 2,
          interval: 6000,
          width: 'auto',
          height: 125,
          theme: {
            shell: {
              background: '#ffffff',
              color: '#32bad9'
            },
            tweets: {
              background: '#ffffff',
              color: '#3f3f3f',
              links: '#32bad9'
            }
          },
          features: {
            scrollbar: false,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: false,
            behavior: 'all'
          }
        }).render().setUser('enspiral').start();

