<tr class='transaction'>
  <td style="background:#eee; padding:0.5em 1em;"><%= invoice_allocation.invoice.customer.name %></td>
  <td style="background:#eee; padding:0.5em 1em;"><%= number_to_currency invoice_allocation.amount_allocated %></td>
  <td style="background:#eee; padding:0.5em 1em;"><%= invoice_allocation.for_hours %></td>
  <td style="background:#eee; padding:0.5em 1em;"><%= invoice_allocation.at_rate %></td>
  <td style="background:#eee; padding:0.5em 1em;"><%= invoice_allocation.invoice.date %></td>
  <td style="background:#eee; padding:0.5em 1em;"><%= invoice_allocation.invoice.due %></td>
</tr>
