<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @team.description %>
</p>

<p>
  <b>City:</b>
  <%=h @team.city %>
</p>


<% if @team.people.size > 0 %>
<h3>Team Members</h3>
<div class='people'>
	<% @team.people.each do |p| %>
		<%= p.first_name %> - <%= link_to 'remove', remove_person_team_path(@team, :person_id => p) %><br/>
	<% end %>
</div>
<% end %>


<h3>Add person to this project</h3>

<%= form_for :team, @team, :url => add_person_team_path(@team) do |f| %>
  <%= select("person", "id", non_members_for_select(@team)) %>
  <%= submit_tag 'Add' %>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
