<h1>Services</h1>

<%= form_tag('/services/search', :remote => true, :id => 'services_search') do %>
  <table>
    <tr>
      <td><%= label_tag :service_category_id, 'Service Category' %></td>
      <td><%= select_tag :service_category_id, options_from_collection_for_select([ServiceCategory.new] + ServiceCategory.all, 'id', 'name') %></td>
    </tr>
    <tr>
      <td><%= label_tag :description %></td>
      <td><%= text_area_tag :description %></td>
    </tr>
  </table>
  
  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>

<div id="services_list">
  <%= render :partial => 'list' %>
</div>
