<h2><%=h @service.name %></h2>

<p>
  <%= image_tag @service.image.url(:medium) %>
</p>

<p>
  <b>Description:</b>
  <%=h @service.description %>
</p>

<hr />


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>