#nav.clearfix
  %ul
    %li.first
      = link_to 'home', '#'
    %li
      = link_to 'our story', '#'
    %li
      = link_to 'teams', '#'
    %li
      = link_to 'case studies', '#'
    %li
      = link_to 'people', '#'
    %li
      = link_to 'employment', '#'
    