!!!
%html.no-js{:lang => "en"}
  = render :partial => 'head'

  -# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  %body
    <!--<![endif]-->
    #outer-head
      %header#header.clearfix
        #header-logo
          = link_to 'Home', '#'
        %p#head-counter
          30 people, 8 cities, 3 countries
      = render :partial => 'nav'
    #outer-content
      #main
        #content
          = render :partial => 'home_page'

      = render :partial => 'footer'
    #footer-bottom
      = image_tag '/footer-bottom.png'
    -# Javascript at the bottom for fast page loading
    = render :partial => 'javascripts'
