%p= link_to 'About', marketing_about_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'about')}"
%p= link_to 'Our Vision', marketing_vision_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'vision')}"
%p= link_to 'Our Space', marketing_space_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'space')}"
%p= link_to 'Contact Us', marketing_contact_us_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'contact_us')}"
