%p= link_to 'About', marketing_about_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'about')}"
%p= link_to 'Our Space', "http://www.enspiralspace.co.nz/", alt: "Enspiral Space - Wellington's Coworking Space for Charities, Social Enterprise and Entrepreneurs", target: '_blank'
%p= link_to 'Contact Us', marketing_contact_us_path, class: "#{"active" if current_page?( controller: 'marketing', action: 'contact_us')}"
