#static_page
  .row
    #left_bar.span3
      %h1 Contact Us
      .sub_nav
        =render :partial => 'marketing/static_pages/sub_nav'
    .span9
      .row
        .span3
          %h2 Talk to us
          .vcard.contact
            .name 
              %strong Alanna Krause (General Enquiries)
            .email alanna@enspiral.com
            .telephone +64 22 064 7011
          .vcard.contact
            .name 
              %strong
                Jonathon Avery (Engineering)
            .email jonathon.avery@enspiral.com
            .telephone +64 21 220 2200
          .vcard.contact
            .name 
              %strong
                Anthony Rohan	(Enspiral Accounting)
            .email antz@enspiral.com
            .telephone +64 21 746 733
          .vcard.contact
            .name 
              %strong
                Rochelle Furneax (Enspiral Legal)
            .email legal@enspiral.com
            .telephone +64 21 153 1952
          .vcard.contact
            .name
              %strong
                Bevan Harrington (Enspiral Australia)
            .email bevan@enspiral.com
            .telephone +61 46 600 5905
          .vcard.contact
            .name
              %strong
                Christian Smith-Socaris (Enspiral US)
            .email christian@enspiral.com
            .telephone +1-347-470-7743
          .vcard.contact
            .name 
              %strong
                Josh Forde (#{link_to 'Rabid', 'http://www.rabid.co.nz'})
            .email hello@rabidtech.co.nz
            .telephone +64 22 690 8829
          .vcard.contact
            .name 
              %strong
                Sam Rye (#{link_to 'Bucky Box', 'http://www.buckybox.com'})
            .email sam@buckybox.com
            .telephone +64 21 114 1343
          .vcard.contact
            .name
              %strong
                Ben Knight (#{link_to 'Loomio', 'http://www.loomio.org'})
            .email ben@loom.io
            .telephone +64 21 0232 5433
          .vcard.contact
            .name 
              %strong
                Zoe Zimmerman	(Living Urbanism)
            .email zoe@enspiral.com
            .telephone +64 21 832 908
          .vcard.contact
            .name 
              %strong
                Silvia Zuur (#{link_to 'Chalkle', 'http://www.chalkle.com'})
            .email silvia@chalkle.com
            .telephone +64 22 012 6366
        .span6
          %h2 Send us a message
          #contact-form.form-inline
            = form_tag (marketing_contact_path), id: 'contact_form', method: 'post', remote: true do
              .control-group
                %label{:for => 'name'} name
                %input#name{:type => 'text', :name => 'name'}
              .control-group
                %label{:for => 'email'} email
                %input#email{:type => 'text', :name => 'email'}
              .control-group
                %label{:for => 'location'} location
                %input#location{:type => 'text', :name => 'location'}
              .control-group
                %label{:for => 'enquiry'} enquiry
                %textarea#enquiry{:type => 'text', :name => 'enquiry'}
              #message.alert.alert-notice
              = submit_tag 'Send', :id => 'submit', :class => 'btn'
          #enspiral-address
            %h2
              Wellington Office
            .vcard
              %p.telephone +64 4 974 8207
              .address
                %p 2/22 Allen St 
                %p Wellington 
                %p New Zealand
              .map
                =link_to "https://maps.google.com/maps?q=2%2F22+Allen+St++Wellington++New+Zealand&hl=en&sll=37.0625,-95.677068&sspn=35.273162,86.572266&hnear=2%2F22+Allen+St,+Te+Aro,+Wellington+6011,+Wellington,+New+Zealand&t=m&z=16", target: "_blank" do
                  = image_tag "wellington-office-map.gif"
