-weeks = @weeks = [Date.today.beginning_of_week, Date.today.beginning_of_week + 1.week, Date.today.beginning_of_week + 2.weeks, Date.today.beginning_of_week + 3.weeks] 
%tr{class: "#{person.active? ? "filter-active" : "filter-inactive" } #{person_capacity_status_class person, weeks}"}
  %td.actions
    %a.tw-tooltip{title: "Companies: #{person.company_memberships.map{|cm| cm.company ? cm.company.name : 'none' }.join(' | ')}"} 
      %i.icon-th-list{}
    -unless person.twitter.blank?
      =link_to "http://twitter.com/#{person.twitter.gsub('@', '')}", class: "tw-tooltip", title: "#{person.twitter}", target: '_blank' do
        %i.icon-twitter-sign
    -if person.email
      =link_to "mailto:#{person.email}", class: "tw-tooltip", title: "#{person.email}", target: 'blank' do
        %i.icon-envelope
    %a.tw-popover.capacity-indicator{title: 'Capacity', data: {content: "#{ person_capacity_preview(person)}"}}
      %i.icon-calendar
  %td.right_border
    =number_to_currency person.rate
  %td.text_filter
    =link_to "#{person.first_name} #{person.last_name}", profile_path(person)
  %td
    - unless person.companies.blank?
      = person.companies.first.name
  %td
    -if person.phone && person.phone.to_s.length > 15
      .tw-tooltip{title: "#{person.phone}"}=truncate(person.phone.to_s, length: 15)
    -else
      =person.phone
  %td
    =person.skype
  %td.skills
    -person.skills.each_with_index do |s, i|
      %span.label{class: "#{'toggle toggle-skills' if i > 3}"}=s.description
    -if person.skills.size > 4
      %i.icon.icon-plus.indicator

