.row
  %h1.span5=@person.name
  .model_actions.span5
    = link_to 'Edit', edit_profile_path(@person), class: 'btn' if @person == current_person or admin_user?
.row
  .span10
    %p.subtext 
      -if @person.country
        ="#{@person.country.name} | "
      -if @person.city
        ="#{@person.city.name} | "
      Joined:
      =nice_date @person.created_at
    %p.subtext
      Companies: 
      =comma_separated_companies(@person.companies)

.row
  .span5
    %h2 Contact
    %table.table.table-striped.table-compact
      %tbody
        -if @person.phone.present?
          %tr
            %td Phone:
            %td=@person.phone
        -if @person.skype.present?
          %tr
            %td Skype:
            %td=@person.skype
        -if @person.email.present?
          %tr
            %td Email:
            %td=mail_to @person.email
        -if @person.blog && @person.blog.url.present?
          %tr
            %td Blog:
            %td=link_to @person.blog.url
        -if @person.twitter.present?
          %tr
            %td Twitter:
            %td=link_to @person.twitter, "http://twitter.com/#{@person.twitter}", target: '_blank'
          %tr
            %td Rate:
            %td= @person.rate ? (number_to_currency @person.rate) : "Not set"
        -if current_person.admin? or !(@person.company_ids & current_person.company_adminships.map{|ca| ca.company_id}).blank?
          -if @person.employment_status
            %tr
              %td Desired Employment Status:
              %td= @person.employment_status
          -if @person.baseline_income
            %tr
              %td Baseline Income:
              %td= number_to_currency @person.baseline_income
          -if @person.ideal_income
            %tr
              %td Ideal Income:
              %td= number_to_currency @person.ideal_income
  .span5
    %section
      %h2 Projects
      = render 'projects/projects_table', {projects: @person.projects.active, compact: true}

    %section
      %h2 Accounts
      = render 'accounts/accounts_table', {:accounts => @person.accounts.not_expense.not_closed, summary: false}

.h-rule

.row
  %h2.span5.bottom_margin Capacity
.row
  .span10
    %table.capacity.table.table-striped.table-bordered.table-condensed
      %thead.header
        %tr
          %th
            %strong Projects (Hours)
          - week_dates(@start_on, @finish_on).each do |date|
            %th
              %strong= date.to_s

      %tbody
        - if current_person == @person
          =link_to 'Update project bookings', your_capacity_index_path
        - @person.project_memberships.each do |membership|
          -project = membership.project
          -bookings = membership.project_bookings
          %tr
            %td= link_to project.name, project
            - bookings.total_hours_per_week(@start_on, @finish_on).each do |week, hours|
              %td.centered= hours
