<h1><%= @notice.summary %></h1>

<p><%= @notice.text %></p>

<% unless @notice.comments.blank? %>
  <ul>
    <%= render :partial => 'comment', :collection => @notice.comments %>
  </ul>
<% end %>
<%= link_to 'Add Comment', new_notice_comment_path(@notice) %>

<p>Posted by <%= @notice.person.name %></p>
<%= link_to 'Back', notices_path %>
