.search_and_filter.row
  %section#left_bar.span3
    %h1 Projects
    .filter_search
      =label_tag :search, "Search for a project:"
      =text_field_tag :search
    %nav
      %ul
        %li.filter_header 
          Order by #{" | "} 
          .sorter.sorter-clear
            =link_to ' Clear', '#' 
        %li.sorter.sorter-name
          =link_to 'Name', '#' 
          %i.icon-arrow-up
          %i.icon-arrow-down
        %li.sorter.sorter-date
          =link_to 'Date', '#' 
          %i.icon-arrow-up
          %i.icon-arrow-down
        %li.filter_header Show:
        %li.filter.filter-all 
          =link_to 'All', '#'
        -#-groups = Group.all.collect{|g| g unless g.people.active.blank?}.compact
        -#- if groups
          -#- groups.each do |g|
            -#-safe_name = g.name.gsub(/ /,'_').downcase
            -#%li.filter{class: "filter-#{safe_name}"}
              -#=link_to g.name, '#'
        -#%li.filter_header Companies In:
        -#- cities = City.all.collect{|c| c unless c.people.active.blank?}.compact
        -#- if cities 
          -#-cities.each do |c|
            -#-safe_name = c.name.gsub(/ /,'_').downcase
            -#%li.filter{class: "filter-#{safe_name}"}
              -#=link_to c.name, '#'

  %section.search_and_filter_container.span9
    .row
      -@projects.each_with_index do |p, i|
        -unless p.projects_images.blank?
          -name = p.name
          .image_list_item.project.span3{ data: {created_at: p.created_at.to_i }, id: "project_#{p.id}" }
            =link_to marketing_enspiral_company_net_project_path(p), class: 'block_link' do
              %span
            .wrapper
              .image
                - unless p.projects_images.blank?
                  =image_tag p.projects_images.first.image.thumb('270x244#').url
                - else
                  =image_tag 'defaultbust.jpg'
              %h2.text_filter{class: "#{if name.length > 30 then 'long_title' end}"}
                =name
              %p
                =p.tagline
#project_box.span9.clearfix
=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch(
      el: '.search_and_filter'
      targetClass: '.image_list_item'
      containerClass: '.search_and_filter_container .row'
    )
    $('.image_list_item').on 'click', (e)->
      $target = $(e.currentTarget)
      e.preventDefault()
      $.get($target.find('a').attr('href'), (data)->
        if (data)
          #window.location.search = "project=" + $target.closest('.project').attr('id').split('_')[1]
          $('#project_box').html(data).lightbox_me()
      )
    for img in $('.gallery_thumb')
      $.get(img.attr('data-full'))
    $('.gallery_thumb').live('click', (e)->
      $('.gallery_thumb').removeClass('active')
      $target = $(e.currentTarget)
      $target.addClass('active')
      $('#main_image img').attr('src', $target.attr('data-full'))
      )
    urlParams = {}
    (->
      match = undefined
      pl = /\+/g
      search = /([^&=]+)=?([^&]*)/g
      decode = (s) ->
        decodeURIComponent s.replace(pl, " ")

      query = window.location.search.substring(1)
      urlParams[decode(match[1])] = decode(match[2])  while match = search.exec(query)
    )()
    if urlParams.project != undefined and urlParams.project.length
      $target = $("#project_"+urlParams.project)
      if $target.length
        $.get($target.find('a').attr('href'), (data)->
          if (data)
            $('#project_box').html(data).lightbox_me()
        )
