%table.table-striped.table.funds_transfers.single_action
  %thead
    %tr
      %th
      - if current_person.admin? || company_admin?(current_person, account.company)
        %th id
      %th Date
      %th Amount
      %th Description
      %th From
      %th To
  %tbody
    -funds_transfers.each do |ft|
      -incoming = true if ft.destination_account == account
      %tr{class: "#{incoming ? 'incoming': 'outgoing'}"}
        %td
          - if incoming
            %i.icon-arrow-left
          - else
            %i.icon-arrow-right
        - if current_person.admin? || company_admin?(current_person, account.company)
          %td= ft.id
        %td= nice_date ft.date
        %td= number_to_currency ft.amount
        %td= ft.description.html_safe
        %td= link_to ft.source_account.name, account_path(ft.source_account)
        %td= link_to ft.destination_account.name, account_path(ft.destination_account)


