%h1
  All external transactions for
  = @company.name

%p ... all of them.

=form_tag({action: :index}, method: :get, class: 'form-horizontal') do
  %fieldset
    %legend
      %i.icon-filter
      Filter between dates

    .control-group
      From
      %input{type: 'textfield', name: "start_date", class: 'datepicker', style: 'width: 80px;', value: @start_date}
      To:
      %input{type: 'textfield', name: "end_date", class: 'datepicker', style: 'width: 80px;', value: @end_date}
      %input{type: 'submit', value: 'Filter'}
      .help-block
        Defaults to transactions done this week.

%table.table.table-striped
  %thead
    %tr
      - if current_person.admin? || company_admin?(current_person, @company)
        %th Id
      %th Date
      - if current_person.admin? || company_admin?(current_person, @company)
        %th Author
      %th $
      %th Description
      %th From Account
      %th To Account
      %th
  %tbody
    - @funds_transfers.each do |transfer|
      %tr
        %td= transfer.date
        %td= transfer.author.name
        %td= link_to transfer.source_account.name, transfer.source_account
        %td= link_to transfer.destination_account.name, transfer.destination_account
        %td= transfer.description.html_safe
        %td= number_to_currency transfer.amount
        %td
          - if current_person.admin? || company_admin?(current_person, transfer.source_account.company)
            - unless transfer.has_reversal?
              = link_to undo_company_funds_transfer_path(transfer.source_account.company, transfer, account_id: transfer.source_account.id) do
                %i.icon-remove

= paginate @funds_transfers
