%a{:href => "#", :onclick => "$$('.toggle').each(function(el) {\n\tel.toggle();\n});"} Edit Profile
#bar div bar
%h2
  Dashboard for #{h @person.name}
%table
  %tr
    %td
      = image_tag @person.gravatar_url(:size => 256)
    %td{:valign => "top"}
      %p
        %b Job title:
        = h @person.job_title
      %p
        %b City:
        = h @person.city
      %p
        %b Email:
        = h @person.email
= render :partial => 'form'
= link_to 'Edit', edit_person_path(@person)
|
\#{link_to 'Back', people_path}
