#company.vcard
  .row
    #left_bar.span3
      %h1.fn.left_float.right_margin=@company.name
      %p.tagline.left_float=@company.tagline
      .image.photo
        - if @company.image
          =image_tag @company.image.thumb('270x244').url
        - else
          =image_tag 'defaultbust.jpg'
      .gray_block
        .inner
          %h3 CONTACT
          %dl.clearfix
            - unless @company.website.blank?
              %dt Website
              %dd.url= link_to @company.website, @company.website, target: '_blank'
            - unless @company.contact_email.blank?
              %dt Email
              %dd.email= mail_to @company.contact_email
            - unless @company.contact_phone.blank?
              %dt Phone
              %dd.tel= @company.contact_phone
            - unless @company.contact_skype.blank?
              %dt Skype
              %dd= @company.contact_skype
          %p
            -if @company.city
              ="#{@company.city.name}, "
            -if @company.country
              ="#{@company.country.name}"
          -if @company.address
            %p=raw @company.address.gsub(/\n/, '<br/>')
          %ul#social_links.clearfix
            -website_social_fields = ['twitter', 'facebook', 'linkedin']
            -website_social_fields.each do |sf|
              -unless @company[sf].blank?
                %li{class: "social social-#{sf}"}
                  =link_to sf, sf, class: 'url'
          .divider

    .span9
      %h2.gray_block About
      .formatted_text
        = raw BlueCloth.new(@company.about).to_html
      .tabbable
        %ul.nav.nav-tabs.plain
          -#- if !@company.twitter.blank?
            -#%li=link_to "Tweets", "#tweets", data: {toggle: "tab"}
          - unless @company.blog.blog_posts.blank?
            %li=link_to "Blog posts", "#blog_posts", data: {toggle: "tab"}
          - unless @people.blank?
            %li=link_to "People", "#people", data: {toggle: "tab"}
            -if @show_projects
              %li=link_to "Projects", "#projects", data: {toggle: "tab"}
          //-if @person.testimonials
          //  %li=link_to "Testimonials", "#testimonials"
        .tab-content
          -if @show_projects
            .tab-pane.active#project
              %h2.gray_block Projects
              .row
                -@company.projects.each_with_index do |p|
                  -name = p.name
                  .image_list_item.project.span3{ data: {created_at: p.created_at.to_i } }
                    =link_to "#" do
                      %span
                    .wrapper
                      .image
                        - if !p.projects_images.blank?
                          =image_tag p.projects_images.first.image.thumb('270x244').url
                        - else
                          =image_tag 'defaultbust.jpg'
                      %h2.text_filter{class: "#{name.length > 26 ? 'long_title' : ''}"}
                        =name
                      %p
                        To be decided
          -unless @people.blank?
            .tab-pane#people
              %h2.gray_block People
              .row
                -@people.each_with_index do |p, i|
                  -name = p.name
                  -person_groups = p.groups.map{|g| "filter-#{g.name.gsub(/ /,'_').downcase}"}.join(' ')
                  -city_filter = p.city ? "filter-#{p.city.name.gsub(/ /,'_').downcase}" : ''
                  .image_list_item.person.span3{class: "#{person_groups} #{city_filter}", data: {created_at: p.created_at.to_i } }
                    =link_to marketing_person_path(p), class: 'block_link' do
                      %span
                    .front.wrapper
                      .image
                        - if p.image
                          =image_tag p.image.thumb('270x244').url
                        - else
                          =image_tag 'defaultbust.jpg'
                      %h2.text_filter{class: "#{if name.length > 30 then 'long_title' end}"}
                        =link_to name, marketing_person_path(p)
                      - unless p.tagline.blank?
                        %p
                          =truncate(p.tagline, length: 80)
          -unless @company.blog.feed_url.blank? or @company.blog.blog_posts.blank?
            .tab-pane#blog_posts
              %h2.gray_block Blogs
              .inner
                -@company.blog.blog_posts.order('posted_at desc').limit(3).each do |post|
                  .blog_post
                    =link_to raw(post.title), post.url, class: 'bold_ink', target: '_blank'
                    %span -
                    %span.gray_ink= nice_date post.posted_at
                    .post_content
                      =raw truncate(strip_tags(post.summary), length: 500)
                      =link_to 'more', post.url, target: '_blank'
                =link_to 'Go to blog...', @company.blog.url, target: '_blank'
          .tab-pane#tweets
            %h2.gray_block Tweets
=content_for :javascripts do
  :coffeescript
    $(document).ready ->
      $('.nav-tabs li:last a').trigger('click').closest('li').addClass('active')
