.search_and_filter.row
  %section.span3
    %h1 Companies
    .filter_search
      =label_tag :search, "Search for a company:"
      =text_field_tag :search
    %nav
      %ul
        %li.filter_header 
          Order by #{" | "} 
          .sorter.sorter-clear
            =link_to ' Clear', '#' 
        %li.sorter.sorter-name
          =link_to 'Name', '#' 
          %i.icon-arrow-up
          %i.icon-arrow-down
        %li.sorter.sorter-date
          =link_to 'Date', '#' 
          %i.icon-arrow-up
          %i.icon-arrow-down
        %li.filter_header Show:
        %li.filter.filter-all 
          =link_to 'All', '#'
        -groups = Group.all.collect{|g| g unless g.people.active.blank?}.compact
        - if groups
          - groups.each do |g|
            -safe_name = g.name.gsub(/ /,'_').downcase
            %li.filter{class: "filter-#{safe_name}"}
              =link_to g.name, '#'
        -#%li.filter_header Companies In:
        -#- cities = City.all.collect{|c| c unless c.people.active.blank?}.compact
        -#- if cities 
          -#-cities.each do |c|
            -#-safe_name = c.name.gsub(/ /,'_').downcase
            -#%li.filter{class: "filter-#{safe_name}"}
              -#=link_to c.name, '#'
        %li.filter_header Companies In:
        - countries = Company.all.collect{|co| co.country unless co.country.blank?}.uniq.compact
        - if countries 
          -countries.each do |c|
            -safe_name = c.name.gsub(/ /,'_').downcase
            %li.filter{class: "filter-#{safe_name}"}
              =link_to c.name, '#'

  %section.search_and_filter_container.span9
    .row.intro
      Startup introduction
    = render partial: 'listing'
=render partial: 'javascripts'

