- title("Take what you need, use the rest to make the world a better place.")

- content_for :javascript do
  :plain
    $.ajax({
      url      : "/staff/balances/10",
      success  : plotWithOptions,
      dataType : "json"
    });
    
    function plotWithOptions(data) {
      $.plot($("#graph"), [
        {
          data: data,
          color: "rgb(0, 155, 0)",
          lines: { 
            show: true,
            fill: true
          },
          threshold: { 
            below: 0, 
            color: "rgb(155, 0, 0)" 
          }
        }
      ],
      { 
        xaxis: { 
          mode: "time", 
          timeformat: "%m/%d" 
        },
        yaxis: {
          tickFormatter: function (val, axis) { return "$" + (val/1000) + "k"; }
        }
      });
    }

- unless @latest_badge.nil?
  #badges
    %h2 Latest Badges
    =render :partial => "badge_ownerships/badge", :locals => {:badge_ownership => @latest_badge, :index => 1}
    =link_to "Show all badges", badge_ownerships_path

#graph

- if admin_user?
  = link_to 'Add Transaction', new_transaction_admin_person_path(@person)

%h2= "#{you_or_name_has(@person)} #{number_to_currency @person.account.balance} available to spend"
- if @transactions.present?
  %h4 Recent Transactions
  = render :partial => '/transactions/transactions'

- if @invoice_allocations.present?
  %h2= "#{you_or_name_has(@person)} #{number_to_currency @pending_total} invoiced"
  %h4 Invoices Awaiting Payment
  = render :partial => '/invoice_allocations/invoice_allocations'

