- title("Take what you need, use the rest to make the world a better place.")

-if @latest_badge
  %h2 Latest Badges
  =render :partial => "badge_ownerships/badge", :locals => {:badge_ownership => @latest_badge, :index => 1}
  =link_to "Show all badges", badge_ownerships_path

- if admin_user?
  = link_to 'Add Transaction', new_transaction_admin_person_path(@person)

%h2= "#{you_or_name_has(@person)} #{number_to_currency @person.account.balance} available to spend"
- if @transactions.present?
  %h4 Recent Transactions
  = render :partial => '/transactions/transactions'

- if @invoice_allocations.present?
  %h2= "#{you_or_name_has(@person)} #{number_to_currency @pending_total} invoiced"
  %h4 Invoices Awaiting Payment
  = render :partial => '/invoice_allocations/invoice_allocations'

