<div class='section gray'>
  <p>
    Take what you need, use the rest to make the world a better place.
  </p>
  <p>
    To get paid or spend money email dale at <a href='mailto:accounts@enspiral.com'>accounts@enspiral.com</a>
  </p>
  <p>
    More features coming soon.<br/>
    Joshua
  </p>
</div>

<div class='section'>
  <h1>You have <%= number_to_currency current_person.account.balance %> available in your account</h1>
</div>

<div class='section'>
  <h2>Recent Transactions</h2>
  <%= render :partial => '/transactions/transactions', :locals => {:transactions_with_totals => current_person.account.transactions_with_totals[0..4]} %>
</div>

<div class='section'>
  <h2>You have <%= number_to_currency current_person.pending_total %> awaiting payment </h2>
  <%= render :partial => '/invoice_allocations/invoice_allocations', :locals => {:invoice_allocations => current_person.invoice_allocations.pending} %>
</div>

<div class='section'>
  <%= render :partial => '/transactions/transactions', :locals => {:transactions_with_totals => current_person.account.transactions_with_totals} %>
</div>

