- recent_transactions = @person.account.transactions_with_totals[0..4]
- invoice_allocations = @person.invoice_allocations.pending
- content_for :right do
  .section.gray
    %p
      Take what you need, use the rest to make the world a better place.

-if @latest_badge
  %h2 Latest Badges
  .badges
    =render :partial => "badge_ownerships/badge", :locals => {:badge_ownership => @latest_badge, :index => 1}
    %p.italic.link-to-index-view
      =link_to "Show all badges", badge_ownerships_path

%h2= "#{you_or_name_has(@person)} #{number_to_currency @person.account.balance} available to spend"

%p= link_to 'Add Transaction', new_transaction_admin_person_path(@person) if admin_user?
- if recent_transactions.present?
  %h4 Recent Transactions
  = render :partial => '/transactions/transactions', :locals => {:transactions_with_totals => recent_transactions}
  = link_to 'Transfer funds', staff_funds_transfer_path

- if invoice_allocations.present?
  %h2= "#{you_or_name_has(@person)} #{number_to_currency @person.pending_total} invoiced"
  = render :partial => '/invoice_allocations/invoice_allocations', :locals => {:invoice_allocations => invoice_allocations}

%h4 Full Transaction History
= render :partial => '/transactions/transactions', :locals => {:transactions_with_totals => @person.account.transactions_with_totals}

