= form_for(@person) do |f|
  = f.error_messages

  %p
    = f.label :first_name
    = f.text_field :first_name
  %p
    = f.label :last_name
    = f.text_field :last_name
  %p
    = f.label :job_title
    = f.text_field :job_title
  %p
    =f.label :country_id, 'Country'
    =f.select :country_id, Country.order('name').collect { |country| [country.name, country.id] }, :selected => @person.country_id, :include_blank => true 
    or add a new country 
    =text_field_tag :country
  %p
    = f.label :city_id, 'City'
    = f.select :city_id, (@person.country.blank? ? [] : @person.country.cities.collect { |city| [city.name, city.id] }), :selected => @person.city_id, :include_blank => true 
    or add a new city 
    = text_field_tag :city 
  %p
    = f.label :email
    = f.text_field :email 
  %p
    = f.label :phone
    = f.text_field :phone 
  %p
    = f.label :skype
    = f.text_field :skype 
  %p
    = f.label :twitter
    = f.text_field :twitter 
  
  %div{:style => 'border:1px solid #ccc; padding:15px;margin-bottom:20px;'}
    =f.fields_for :user do |u|
      %p
        = u.label :password
        = u.password_field :password 
      %p
        = u.label :password_confirmation, 'Confirm'
        = u.password_field :password_confirmation 

  .clearfix

  .float-right= f.submit 'Update', :class=>"button"
