= form_for(@person) do |f|
  = f.error_messages

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    =f.label :country_id, 'Country'
    =f.select :country_id, Country.order('name').collect { |country| [country.name, country.id] }, :selected => @person.country_id, :include_blank => true 
    or add a new country 
    =text_field_tag :country
  .field
    = f.label :city_id, 'City'
    = f.select :city_id, (@person.country.blank? ? [] : @person.country.cities.collect { |city| [city.name, city.id] }), :selected => @person.city_id, :include_blank => true 
    or add a new city 
    = text_field_tag :city 
  .field
    = f.label :email
    = f.text_field :email 
  .field
    = f.label :phone
    = f.text_field :phone 
  .field
    = f.label :skype
    = f.text_field :skype 
  .field
    = f.label :twitter
    = f.text_field :twitter  
  .field
    = f.label :relationship_with_enspiral, "My relationship with Enspiral is..."
    = f.select :relationship_with_enspiral, ["Long-term, fully committed, very involved (member)", "Casual, intermittent, contract by contract (contributor)", "Not sure yet, I'm still figuring it out (newbie)"], :include_blank => true
  .field
    = f.label :employment_status, "Currently I work with Enspiral..."
    = f.select :employment_status, ["Full time", "Part time", "No time"], :include_blank => true
  .field
    = f.label :desired_employment_status, "In the future, I would like to work with Enspiral..."
    = f.select :desired_employment_status, ["Full time", "Part time", "No time"], :include_blank => true
  .field 
    = f.label :baseline_income, "What I need to earn per month on average in order to survive"
    %small
      To cover your basic living expenses and financial responsibilites
    %br
    = f.text_field :baseline_income
  .field 
    = f.label :ideal_income, "What I need to earn per month on average in order to thrive"
    %small
      To build up a savings buffer and grow your skills, ideas, and projects
    %br
    = f.text_field :ideal_income 
  %h2
    Skills
    
  = hidden_field_tag 'person[skill_ids][]', nil
  
  - Skill.all.each do |skill|
    .field
      = check_box_tag :skill_ids, skill.id, @person.skills.include?(skill), :name => 'person[skill_ids][]'
      = skill.description
   
  %h2
    Change Your Password (Optional)
  =f.fields_for :user do |u|
    .field
      = u.label :password, "New Password"
      = u.password_field :password 
    .field
      = u.label :password_confirmation, 'Confirm New Password'
      = u.password_field :password_confirmation 
  
  .clearfix

  .float-right= f.submit 'Update', :class=>"button"
