
<a href="#" onclick="$$('.toggle').each(function(el) {
	el.toggle();
});">Edit Profile</a>
	

<div id="bar">div bar</div>

<h2>Dashboard for <%=h @person.name %></h2>

<table>
  <tr>
    <td>
      <%= image_tag @person.gravatar_url(:size => 256)%>
    </td>
    <td valign=top>
      <p>
        <b>Job title:</b>
        <%=h @person.job_title %>
      </p>
      <p>
        <b>City:</b>
        <%=h @person.city %>
      </p>

      <p>
        <b>Email:</b>
        <%=h @person.email %>
      </p>
    </td>
  </tr>

</table>

<%= render :partial => 'form' %>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
