<h1>The Enspiral Team</h1>

<table cellborder=10 cellpadding=20>

<% @people.each do |person| %>
  <tr>
    <td><%= link_to (image_tag person.gravatar_url), person %></td>
    <td><%= link_to person.name, person %></td>
    <td><%=h person.job_title %></td>
	  <td><%=h person.city %></td>
    <% if admin_user? %>
      <td>
        <%= link_to 'Edit', edit_admin_person_path(person) %>
        <%= link_to 'Destroy', admin_person_path(person), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to('New person', new_admin_person_path) if admin_user?%>
