.crumbs
  %a{ href: ''}
    %span= "<"
    Back to people
%section.person_description.row.pad_in.clearfix
  .col.two_thirds.right_border
    .profile_image.right_border
      .image
        =image_tag 'joshuathumb.jpg'
    %h1= @person.name
    %p.subtext
      %p= @person.relationship_with_enspiral
    %dl
      - unless @person.job_title.blank?
        %dt Job title:
        %dd= @person.job_title
      - if @person.city
        %dt City:
        %dd= @person.city.name
      - if current_user && !@person.email.blank?
        %dt Email:
        %dd= @person.email

  .col.third.no_right_pad.center_text
    %p.exciting
      Lorem ipsum blaha lala
    %p.exciting
      Lorem ipsum blah molo solo

- unless @projects.empty?
  %section.projects_list.four_across.pad_in.pad_y.row.sep.clearfix
    .quarter.col
      %h2 #{@person.first_name}'s Projects
      %p
        Enspiral projects include client work and our own startups etc \
        consectetur adipisicing elit, v esse uis aute irure uis aute i

    .pictoral_list.clearfix
      - @projects.limit(3).each_with_index do |project, index|
        .pictoral_list_item.col{class: "#{index == 2 ? 'last' : ''}"}
          .image
            =image_tag 'joshuathumb.jpg'
          %h3=project.name
          %p.byline= truncate(project.description, length: 40)

%section.row.pad_in.sep.clearfix
  .col.two_thirds.right_border
    .profile_image
      =image_tag 'joshuathumb.jpg'
  .col.third.no_right_pad.center_text
    %p.exciting
      Lorem ipsum blaha lala
    %p.exciting
      Lorem ipsum blah molo solo

