= form_for ([:staff, @project]) do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  %h2 Project Details
  %table
    %tr
      %td= f.label :name, 'Project Title *'
      %td= f.text_field :name
    %tr
      %td= f.label :description, 'Project Description'
      %td= f.text_area :description, :size => "50x6"
    %tr
      %td= f.label :customer_id, 'Customer'
      %td= f.select :customer_id, Customer.all.collect { |customer| [customer.name, customer.id] }
    %tr
      %td= f.label :status, 'Status *'
      %td= f.select :status, [['Active', 'active'], ['Inactive', 'inactive']]
  %h2 Project Memberships
  %table
    - @project.project_people.each do |project_membership| 
      %tr
        %td= project_membership.person.name
        %td= link_to 'Remove', staff_project_people_path(project_membership), :confirm => 'Are you sure?', :method => :delete
   
    - new_membership = @project.project_people.build
    %tr
      %td= link_to 'Add Member', edit_staff_project_person_path(new_membership)



  .actions
    = f.submit 'Save'
