%div.previous-link
  =link_to '<< Previous', staff_project_path(:id => @project, :dates => @previous_weeks), :method => :get

%div.next-link
  =link_to 'Next >>', staff_project_path(:id => @project, :dates => @next_weeks), :method => :get

%table.capacity
  %tbody
    %tr
      %th 
        %strong Member
      - @formatted_dates.each do |date|
        %th
          %strong= date
      %th
        %strong Total
      %th &nbsp;

    - @project_bookings.each do |person_id, bookings|
      - project_membership = ProjectMembership.find_by_project_id_and_person_id(@project.id, person_id)
      %tr
        %td.centered  
          #{get_persons_name(person_id)} #{project_membership.is_lead ? '*' : ''}
        - bookings.each do |week, time|
          %td.centered= time
        %td.centered= project_membership.project_bookings.sum('time')
        %td.centered= link_to 'Edit', staff_capacity_edit_path(:person_id => person_id, :project_id => @project.id, :dates => @current_weeks)

