- title('Editing project')

= render 'form'

%h2 Project Members
= link_to '+ New Member', new_staff_project_membership_path(:project_id => @project.id), :method => :get
%br
%br

= render 'project_memberships'

%br
= link_to 'Show', staff_project_path(@project)
\|
= link_to 'Back', staff_projects_path
