%h1 Project Listings
%h2 Your Projects
%table
  %tr
    %th Project
    %th Status
    %th Customer
    %th &nbsp;

  - @current_projects.each do |project|
    %tr
      %td= project.name
      %td= project.status
      %td= project.customer ? project.customer.name : ''
      %td= button_to 'Edit', edit_staff_project_path(project), :method => :get

%h2 All Projects
%table
  %tr
    %th Project
    %th Status
    %th Customer
    %th &nbsp;

  - @all_projects.each do |project|
    %tr
      %td= project.name
      %td= project.status
      %td= project.customer ? project.customer.name : ''
      %td= button_to 'Join',  staff_project_people_path(:project_id => project.id), :method => :post
%br

= link_to 'New Project', new_staff_project_path
