.search_and_filter.row
  %section.span3
    %h1 People
    .filter_search
      =label_tag :search, "Search for a person:"
      =text_field_tag :search
    %nav
      %ul
        %li.filter_header 
          Order by #{" | "} 
          .sorter.sorter-clear
            =link_to ' Clear', '#' 
        %li.sorter.sorter-name
          =link_to 'Name', '#' 
          %i.icon-arrow-up
          %i.icon-arrow-down
        %li.filter_header Show:
        %li.filter.filter-all 
          =link_to 'All', '#'

  %section.search_and_filter_container.span9
    .row
      -@people.each_with_index do |p, i|
        -name = p.name
        .image_list_item.person.span3
          =link_to marketing_person_path(p), class: 'block_link' do
            %span
          .front
            .image
              =image_tag "mockups/person_thumb_#{i % 2 == 0 ? '1':'2'}.jpeg"
            %h2.text_filter{class: "#{if name.length > 30 then 'long_title' end}"}
              =name
            %p
              =p.tagline
              A short tagline that is about this long
          .back
            %h2=p.name
            %h3 Contact
            %dl
              -unless p.phone.blank?
                %dt Phone: 
                %dd= p.phone
              -unless p.skype.blank?
                %dt Skype: 
                %dd= p.skype
              -unless p.email.blank?
                %dt Email: 
                %dd= p.email
            -unless p.skills.blank?
              %h3 Skills
              %p #{p.skills.limit(5).map{|s| s.description }.join(',  ')}...
            .more
              %i.icon-plus

=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch(
      el: '.search_and_filter'
      targetClass: '.image_list_item'
      containerClass: '.search_and_filter_container .row'
    )
