#person.vcard
  .row
    #left_bar.span3
      %h1.fn.left_float.right_margin=@person.name
      %p.tagline.left_float=@person.tagline
      .image.photo
        - if @person.image
          =image_tag @person.image.thumb('270x244').url
        - else
          =image_tag 'defaultbust.jpg'
      .gray_block
        .inner
          %ul#social_links.clearfix
            -website_social_fields = ['twitter', 'facebook', 'linkedin']
            -website_social_fields.each do |sf|
              -unless @person[sf].blank?
                %li{class: "social social-#{sf}"}=link_to sf.titleize, sf, class: 'url'
            - if @person.blog && !@person.blog.url.blank?
              = link_to 'Blog', @person.blog.url
          .divider
          =link_to "SEND A MESSAGE", "#OPEN LIGHTBOX CONTACT", class: 'big_link'
          .divider
          .sub_block
            %h3 SKILLS
            %p=@person.skills.map{|s| s.name}.join(', ')
            %h3.top_margin BASED IN
            %p
              -if @person.city
                ="#{@person.city.name}, "
              -if @person.country
                ="#{@person.country.name}"
            %h3.top_margin STATUS 
            %p=@person.employment_status
            %h3.top_margin Available Hours 
            %p="#{@person.default_hours_available} hours/week"
          .divider

    .span9
      %h2.gray_block About
      .formatted_text
        = raw BlueCloth.new(@person.about).to_html
      .tabbable
        %ul.nav.nav-tabs.plain
          -unless @person.twitter.blank?
            %li#tweets_link=link_to "Tweets", "#tweets", data: {toggle: "tab"}
          -unless @person.blog.feed_url.blank?
            %li=link_to "Blog posts", "#blog_posts", data: {toggle: "tab"}
          -unless @person.projects.blank?
            %li=link_to "Projects", "#projects", data: {toggle: "tab"}
          //-if @person.testimonials
          //  %li=link_to "Testimonials", "#testimonials"
        .tab-content
          - unless @person_projects.blank?
            .tab-pane.active#projects.search_and_filter_container
              %h2.gray_block Projects
              .inner
                .row
                  -@person_projects.each do |p|
                    -name = p.name
                    .image_list_item.project.span3
                      =link_to marketing_project_path(p), class: 'block_link' do
                        %span
                      .wrapper
                        .image
                          - unless p.projects_images.blank?
                            =image_tag p.projects_images.first.image.thumb('270x244').url
                          - else
                            =image_tag 'defaultbust.jpg'
                        %h2.text_filter{class: "#{if name.length > 30 then 'long_title' end}"}
                          =link_to name, marketing_projects_path(project: p.id)
                        %p
                          =p.tagline

          //.tab-pane#testimonials
          -unless @person.blog.feed_url.blank?
            .tab-pane#blog_posts
              %h2.gray_block Blogs
              .inner
                -@person.blog.blog_posts.order('posted_at desc').limit(3).each do |post|
                  .profile_list_item
                    =link_to raw(post.title), post.url, class: 'bold_ink', target: '_blank'
                    %span -
                    %span.gray_ink= nice_date post.posted_at
                    .blurb
                      =raw truncate(strip_tags(post.summary), length: 500)
                      =link_to 'more', post.url, target: '_blank'
                =link_to 'Go to blog...', @person.blog.url, target: '_blank'
          .tab-pane#tweets
            %h2.gray_block Tweets
            #tweets_container
#project_box.span9.clearfix
=content_for :javascripts do 
  :coffeescript
    $('.nav-tabs li:last a').trigger('click').closest('li').addClass('active')
    if $('#tweets_link').length
      $.get("#{marketing_fetch_tweets_path}", {account: "#{@person.twitter}"}, (data)->
        for tweet in data
          html = ""
          html += "<div class='tweet bubble_item'>"
          html += "<div class='speech_bubble triangle-border'>"
          html += twttr.txt.autoLink(tweet.text)
          html += "</div>"
          html += "<div class='gray_ink'>"+$.timeago(tweet.created_at)+"</div>"
          html += "</div>"
          $('#tweets_container').append(html)
      )
    $('.image_list_item').on 'click', (e)->
      $target = $(e.currentTarget)
      e.preventDefault()
      $.get($target.find('a').attr('href'), (data)->
        if (data)
          #window.location.search = "project=" + $target.closest('.project').attr('id').split('_')[1]
          $('#project_box').html(data).lightbox_me()
      )
    for img in $('.gallery_thumb')
      $.get(img.attr('data-full'))
    $('.gallery_thumb').live('click', (e)->
      $('.gallery_thumb').removeClass('active')
      $target = $(e.currentTarget)
      $target.addClass('active')
      $('#main_image img').attr('src', $target.attr('data-full'))
      )
    urlParams = {}
    (->
      match = undefined
      pl = /\+/g
      search = /([^&=]+)=?([^&]*)/g
      decode = (s) ->
        decodeURIComponent s.replace(pl, " ")

      query = window.location.search.substring(1)
      urlParams[decode(match[1])] = decode(match[2])  while match = search.exec(query)
    )()
    if urlParams.project != undefined and urlParams.project.length
      $target = $("#project_"+urlParams.project)
      if $target.length
        $.get($target.find('a').attr('href'), (data)->
          if (data)
            $('#project_box').html(data).lightbox_me()
        )
