.row
  .span2
    %h2
      People
      = "(#{@people.count})"
    %table.table.table-striped.table-condensed
      %tbody
        -@people.each do |p|
          -if p.active?
            %tr
              %td
                =link_to p.name, profile_path(p)

  .span4
    %h2
      Invoices
      = "(#{@invoices.count})"
    %table.table.table-striped.table-condensed
      %tbody
        -@invoices.each do |i|
          %tr
            %td
              - if i.customer.company
                =link_to i.xero_reference ? "Invoice #{i.id} / Xero : #{i.xero_reference}" : "Invoice #{i.id}", company_invoice_path(i.customer.company, i)
              - else
                =link_to i.xero_reference ? "Invoice #{i.id} / Xero : #{i.xero_reference}" : "Invoice #{i.id}", customer_path(i.customer)
            %td=link_to i.customer.name, i.customer

  .span4
    %h2
      Accounts
      = "(#{@accounts.count})"
    %table.table.table-striped.table-condensed
      %tbody
        -@accounts.each do |a|
          %tr
            %td
              =link_to a.listing_summary, account_path(a) unless a.company.nil?
              - if a.closed?
                %span.red
                  [Closed]


  - if @projects.any?
    .span4
      %h2
        Projects
        = "(#{@projects.count})"
      %table.table.table-striped.table-condensed
        %tbody
          -@projects.each do |p|
            -if p.company
              %tr
                %td=p.name
                %td
                  =link_to p.name, company_project_path(p.company, p)

