.row
  -unless @people.blank?
    .span2
      %h2 People
      %table.table.table-striped.table-condensed
        %tbody
          -@people.each do |p|
            -if p.active?
              %tr
                %td
                  =link_to p.name, profile_path(p)

  -unless @invoices.blank?
    .span4
      %h2 Invoices
      %table.table.table-striped.table-condensed
        %tbody
          -@invoices.each do |i|
            -if i.customer.company
              %tr
                %td
                  =link_to i.xero_reference ? "Invoice #{i.id} / Xero : #{i.xero_reference}" : "Invoice #{i.id}", company_invoice_path(i.customer.company, i)
                %td=link_to i.customer.name, i.customer

  -unless @accounts.blank?
    .span4
      %h2 Accounts
      %table.table.table-striped.table-condensed
        %tbody
          -@accounts.each do |a|
            %tr
              %td
                -if a.company.nil?
                  =link_to "#{a.name}", account_path(a)
                -else
                  =link_to "#{a.name} (#{a.company.name})", account_path(a)


  -unless @projects.blank?
    .span4
      %h2 Projects
      %table.table.table-striped.table-condensed
        %tbody
          -@projects.each do |p|
            -if p.company
              %tr
                %td=p.name
                %td
                  =link_to p.name, company_project_path(p.company, p)

