= form_for [@company, @invoice] do |f|
  = f.error_messages
  
  %p
    = f.label :amount
    = f.text_field :amount
  %p
    = f.label :xero_reference
    = f.text_field :xero_reference

  %p
    = f.label :date
    = f.text_field :date, class: 'datepicker'

  %p
    = f.label :due
    = f.text_field :due, class: 'datepicker'

  %p
    = f.label :customer_id, 'Customer'
    = f.select :customer_id, options_for_select(Customer.order('name').all.collect{|c| [c.name, c.id]}), {}, {class: 'czn-select'}

  = f.submit 'Save', class: 'btn'

