= simple_form_for @invoice, url: [@invoiceable, @invoice] do |f|
  = f.error_messages
  .row
    .span3
      %h3 Details
      .control-group
        =f.label :customer
        = f.grouped_collection_select :customer_id, Company.all, :approved_customers, :name, :id, :name, {include_blank: true}, {class: 'czn-select'}
        %br
        =link_to 'New customer', [:new, :customer]
      .control-group
        =f.label :project
        = f.grouped_collection_select :project_id, Company.all, :projects, :name, :id, :name, {include_blank: true}, {class: 'czn-select'}
        %br
        =link_to 'New Project', [:new, :project]
      = f.label :amount
      = f.text_field :amount

      = f.label :paid_on
      - if @invoice.paid_on
        = f.text_field :paid_on
      -else
        .help-block
          = "Not paid yet (#{number_to_currency @invoice.amount_paid} paid so far)"

      .h-rule
      Xero ID
      %h5= @invoice.xero_id
      %br
      .help-block
        This is the Xero ID which is a unique identifier for this invoice in Xero.
      %br

      = f.input :xero_reference
      .help-block
        This is the Xero reference
        %strong without the INV- bit.
        e.g. for INV-1000, you'd write 1000.

      - if @invoice.company
        .h-rule
        .help-block
          N.B. The time zone for
          = @invoice.company.name
          is
          %strong= ActiveSupport::TimeZone.new(@invoice.company.time_zone).to_s

      %br
      = f.input :date, as: :string, input_html: {class: 'datepicker'}
      = f.input :due, as: :string, input_html: {class: 'datepicker'}

    .span5
      %h3.bottom_margin Allocations
      #pending_allocations.sub_form{style: "width: 640px;", data:{default_contribution: @invoiceable.default_contribution}}
        =f.simple_fields_for :allocations do |pf|
          =render 'allocation_fields', f: pf
        .links
          =link_to_add_association 'Add allocation', f, :allocations, :class => :btn
  .h-rule
  .row
    .span10
      = f.submit 'Save', class: 'btn btn-primary'
      - if @invoice.new_record? && @company
        = link_to 'Cancel', company_invoices_path(@company), class: "btn btn-default"
      - elsif @company
        = link_to 'Cancel', company_invoice_path(@company), class: "btn btn-default"
      - else
        = link_to root_path

