%span
  %strong Amount:
  #{number_to_currency(@invoice.amount)}
%span
  %strong Allocated:
  =number_to_currency @invoice.amount_allocated
  -unless @invoice.allocated_in_full?
    %strong{style: "color: red;"} (#{number_to_currency(@invoice.amount_unallocated)} Unallocated)
%span
  %strong Paid:
  =@invoice.paid? ? '✔' : '✘'
  (#{number_to_currency @invoice.amount_paid})
  - if @invoice.paid_on
    = "Fully paid on #{nice_date (@invoice.paid_on)}"
%br
%br
%span
  %strong Created:
  =l @invoice.date
%span
  %strong Due:
  =l @invoice.due
