- title("Invoices")

%p= "Total: #{number_to_currency(@invoices.inject(0) {|total, i| total += i.amount})}"

%p
  = link_to 'Add Invoice', new_company_invoice_path(@company)
  | 
  - if params[:action] == 'old'
    = link_to 'Current invoices', company_invoices_path(@company)
  - else
    = link_to 'Paid invoices', old_company_invoices_path(@company)

- if @invoices.size > 0
  %table{:class => 'invoices'}
    - for invoice in @invoices
      %tr{:class => 'invoice'}
        %td
          %span{class: "#{controller.action_name == 'old' ? 'green_ink' : 'red_ink'}"}=number_to_currency(invoice.amount)
        %td
          =invoice.customer.name
        %td
          =invoice.date
        %td= link_to 'View', [@company, invoice]

