- title("Invoices")
.row
  %h1.span5 #{@invoiceable.name} Invoices
  .model_actions
    = link_to 'New Invoice', [:new, @invoiceable, :invoice], class: 'btn'

%h3.bottom_margin.gray_ink
  -#Total: #{number_to_currency(@invoices.inject(0) {|total, i| total += i.amount})}

-#%p
-#  - if action_name == 'closed'
-#    = link_to 'Open invoices', [@invoiceable, Invoice]
-#  - else
-#    = link_to 'Closed invoices', [:closed, @invoiceable, Invoice]

.invoices
  %nav
    .nav.table_actions
      %ul.nav.nav-tabs
      -if @search_type == "company_project"
        = form_tag search_company_project_invoices_path, :class => 'simple_form', :method => "GET" do
          %span{style: "margin-left: 10px;"}
            Find:
          %input{type: "textfield", value: @find_text, name: "find", style: "width: 80px; margin-left: 5px;"}
            From:
          %input{type: 'textfield', name: "from", class: 'datepicker', style: 'width: 80px;'}
            To:
          %input{type: 'textfield', name: "to", class: 'datepicker', style: 'width: 80px;'}
          %span{style: "margin-left: 5px;"}
            Type:
          %select{name: "type", style: "width: 115px; margin-top: 8px;"}
            -if @type == "all"
              %option{value: "all", selected: "selected"}All
            -else
              %option{value: "all"}All
            -if @type == "opened"
              %option{value: "opened", selected: "selected"}Opened
            -else
              %option{value: "opened"}Opened
            -if @type == "closed"
              %option{value: "closed", selected: "selected"}Closed
            -else
              %option{value: "closed"}Closed
            -if @type == "unallocated"
              %option{value: "unallocated", selected: "selected"}Unallocated
            -else
              %option{value: "unallocated"}Unallocated
            -if @type == "pending"
              %option{value: "pending", selected: "pending"}Pending
            -else
              %option{value: "pending"}Pending
            -if @type == "Overdue"
              %option{value: "overdue", selected: "overdue"}Overdue
            -else
              %option{value: "overdue"}Overdue
            -if @type == "Approved"
              %option{value: "approved", selected: "approved"}Approved
            -else
              %option{value: "approved"}Approved
          .btn{style: "margin-left: 5px; margin-bottom: 5px;"}
            %input{type: "submit", value: "Submit", style: "border: none; background: none;"}
      -elsif @search_type == "project"
        = form_tag search_project_invoices_path, :class => 'simple_form', :method => "GET" do
          %span{style: "margin-left: 10px;"}
            Find:
          %input{type: "textfield", value: @find_text, name: "find", style: "width: 80px; margin-left: 5px;"}
          From:
          %input{type: 'textfield', name: "from", class: 'datepicker', style: 'width: 80px;'}
            To:
          %input{type: 'textfield', name: "to", class: 'datepicker', style: 'width: 80px;'}
          %span{style: "margin-left: 5px;"}
            Type:
          %select{name: "type", style: "width: 115px; margin-top: 8px;"}
            -if @type == "all"
              %option{value: "all", selected: "selected"}All
            -else
              %option{value: "all"}All
            -if @type == "opened"
              %option{value: "opened", selected: "selected"}Opened
            -else
              %option{value: "opened"}Opened
            -if @type == "closed"
              %option{value: "closed", selected: "selected"}Closed
            -else
              %option{value: "closed"}Closed
            -if @type == "unallocated"
              %option{value: "unallocated", selected: "selected"}Unallocated
            -else
              %option{value: "unallocated"}Unallocated
            -if @type == "pending"
              %option{value: "pending", selected: "pending"}Pending
            -else
              %option{value: "pending"}Pending
            -if @type == "overdue"
              %option{value: "overdue", selected: "overdue"}Overdue
            -else
              %option{value: "overdue"}Overdue
            -if @type == "approved"
              %option{value: "approved", selected: "approved"}Approved
            -else
              %option{value: "approved"}Approved
          .btn{style: "margin-left: 5px; margin-bottom: 5px;"}
            %input{type: "submit", value: "Submit", style: "border: none; background: none;"}
      -elsif @search_type == "customer"
        = form_tag search_customer_invoices_path, :class => 'simple_form', :method => "GET" do
          %span{style: "margin-left: 10px;"}
            Find:
          %input{type: "textfield", value: @find_text, name: "find", style: "width: 80px; margin-left: 5px;"}
          From:
          %input{type: 'textfield', name: "from", class: 'datepicker', style: 'width: 80px;'}
            To:
          %input{type: 'textfield', name: "to", class: 'datepicker', style: 'width: 80px;'}
          %span{style: "margin-left: 5px;"}
            Type:
          %select{name: "type", style: "width: 115px; margin-top: 8px;"}
            -if @type == "all"
              %option{value: "all", selected: "selected"}All
            -else
              %option{value: "all"}All
            -if @type == "opened"
              %option{value: "opened", selected: "selected"}Opened
            -else
              %option{value: "opened"}Opened
            -if @type == "closed"
              %option{value: "closed", selected: "selected"}Closed
            -else
              %option{value: "closed"}Closed
            -if @type == "unallocated"
              %option{value: "unallocated", selected: "selected"}Unallocated
            -else
              %option{value: "unallocated"}Unallocated
            -if @type == "pending"
              %option{value: "pending", selected: "pending"}Pending
            -else
              %option{value: "pending"}Pending
            -if @type == "overdue"
              %option{value: "overdue", selected: "overdue"}Overdue
            -else
              %option{value: "overdue"}Overdue
            -if @type == "approved"
              %option{value: "approved", selected: "approved"}Approved
            -else
              %option{value: "approved"}Approved
          .btn{style: "margin-left: 5px; margin-bottom: 5px;"}
            %input{type: "submit", value: "Submit", style: "border: none; background: none;"}      
      -else
        = form_tag search_company_invoices_path, :class => 'simple_form', :method => "GET" do
          %span{style: "margin-left: 10px;"}
            Find:
          %input{type: "textfield", value: @find_text, name: "find", style: "width: 80px; margin-left: 5px;"}
          From:
          %input{type: 'textfield', value: @from, name: "from", class: 'datepicker', style: 'width: 80px;'}
            To:
          %input{type: 'textfield', value: @to, name: "to", class: 'datepicker', style: 'width: 80px;'}
          %span{style: "margin-left: 5px;"}
            Type:
          %select{name: "type", style: "width: 115px; margin-top: 8px;"}
            -if @type == "all"
              %option{value: "all", selected: "selected"}All
            -else
              %option{value: "all"}All
            -if @type == "opened"
              %option{value: "opened", selected: "selected"}Opened
            -else
              %option{value: "opened"}Opened
            -if @type == "closed"
              %option{value: "closed", selected: "selected"}Closed
            -else
              %option{value: "closed"}Closed
            -if @type == "unallocated"
              %option{value: "unallocated", selected: "selected"}Unallocated
            -else
              %option{value: "unallocated"}Unallocated
            -if @type == "pending"
              %option{value: "pending", selected: "pending"}Pending
            -else
              %option{value: "pending"}Pending
            -if @type == "overdue"
              %option{value: "overdue", selected: "overdue"}Overdue
            -else
              %option{value: "overdue"}Overdue
            -if @type == "approved"
              %option{value: "approved", selected: "approved"}Approved
            -else
              %option{value: "approved"}Approved
          .btn{style: "margin-left: 5px; margin-bottom: 5px;"}
            %input{type: "submit", value: "Submit", style: "border: none; background: none;"} 
  = will_paginate @invoices, :renderer => 'BootstrapPaginationHelper::LinkRenderer'

  -if @search_type == "company_project"
    - if @pending_invoices.count > 0
      %a{style: 'color: red;', href: search_company_project_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} new invoices are pending !
      %br/
    - else
      %a{style: 'color: green;', href: search_company_project_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} pending invoices !
      %br/
    - if @unallocated_invoices.count > 0
      %a{style: 'color: red;', href: search_company_project_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
    - else
      %a{style: 'color: green;', href: search_company_project_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
  -elsif @search_type == "customer"
    - if @pending_invoices.count > 0
      %a{style: 'color: red;', href: search_customer_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} new invoices are pending !
      %br/
    - else
      %a{style: 'color: green;', href: search_customer_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} pending invoices !
      %br/
    - if @unallocated_invoices.count > 0
      %a{style: 'color: red;', href: search_customer_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
    - else
      %a{style: 'color: green;', href: search_customer_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
  -elsif @search_type == "project"
    - if @pending_invoices.count > 0
      %a{style: 'color: red;', href: search_project_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} new invoices are pending!
      %br/
    - else
      %a{style: 'color: green;', href: search_project_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} pending invoices !
      %br/
    - if @unallocated_invoices.count > 0
      %a{style: 'color: red;', href: search_project_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
    - else
      %a{style: 'color: green;', href: search_project_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
  -else
    - if @pending_invoices.count > 0
      %a{style: 'color: red;', href: search_company_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} new invoices are pending !
      %br/
    - else
      %a{style: 'color: green;', href: search_company_invoices_path+'?find=&from=&to=&type=pending'} #{@pending_invoices.count} pending invoices !
      %br/
    - if @unallocated_invoices.count > 0
      %a{style: 'color: red;', href: search_company_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
    - else
      %a{style: 'color: green;', href: search_company_invoices_path+'?find=&from=&to=&type=unallocated'} #{@unallocated_invoices.count} unallocated invoices !
  - if @invoices.size > 0
    %table.table.table-striped.one_action.invoices_table.tablesorter
      %thead
        %th ID / Xero Reference
        %th{class: "{sorter: 'currency'}"} Amount
        %th Customer
        %th Project
        %th Created
        %th Due
        %th Overdue
        %th Approved
        %th Paid
      %tbody
        - for invoice in @invoices
          %tr
            %td.text_filter
              =link_to "##{invoice.reference}", [@invoiceable, invoice]
              -if invoice.amount_unallocated < 0
                %span{style: 'float: right; margin-top: 0px;'}
                  =image_tag('attention.png')
              -if invoice.currency == 'NZD'
                %span{style: 'float: right; margin-top: 0px;'}
                  =image_tag('nz.png')
              -elsif invoice.currency == "AUD"
                %span{style: 'float: right; margin-top: 0px;'}
                  =image_tag('au.png')
              -elsif invoice.currency == "USD"
                %span{style: 'float: right; margin-top: 0px;'}
                  =image_tag('us.png')
              -else
                %span{style: 'float: right; margin-topL 0px;'}
                  =image_tag('default-currency.jpeg')
            %td=number_to_currency(invoice.amount, delimiter: '')
            - if invoice.customer.approved?
              %td.text_filter=link_to invoice.customer.name, invoice.customer
            - else
              %td
                %a{href: customer_path(invoice.customer)} 
                  %b{style: 'color: red;'} Pending ! -  
                  #{invoice.customer.name}
                  =link_to image_tag('approved.jpeg'), [:approve, @company, invoice.customer], confirm: "Do you want to approve customer ##{invoice.customer.name} ?", method: :post, class: 'btn', :style => "width: 20px;", :title => 'Click to approve this account'
            %td
              -if invoice.project
                =link_to "#{invoice.project.name}", project_path(invoice.project)
              -else
                = 'N/A'
            %td=l invoice.date, format: :sortable
            %td=l invoice.due, format: :sortable
            %td= invoice.overdue? ? 'overdue' : ''
            %td
              -if invoice.approved?
                approved
              - elsif invoice.unallocated?
                =link_to 'Approve', [:edit, @invoiceable, invoice], confirm: "Invoice ##{invoice.reference} is unallocated, Do you want to allocate before approve ?", class: 'btn'
              - else
                =link_to 'Approve', [:approve, @invoiceable, invoice], confirm: "Do you want to approve invoice ##{invoice.reference} ?", method: :post, class: 'btn'
            %td
              -if invoice.paid?
                paid
              -elsif invoice.can_close?
                =link_to 'Pay', [:close, @invoiceable, invoice], confirm: "Has #{invoice.customer.name} made full payment?", method: :post, class: 'btn'


=content_for :javascripts do
  :coffeescript
    @search_filter = new Enspiral.Views.SimpleFilterSearch
      el: '.invoices'

    $('.tablesorter').tablesorter()
