- title("View Invoice")
.row
  %h1.span7.bottom_margin
    = link_to image_tag('xero.jpg'), @invoice.xero_link
    Invoice #{@invoice.reference} to #{link_to @invoice.customer.name, @invoice.customer}
  .model_actions
    =link_to 'Project', @invoice.project if @invoice.project
    -if @invoice.paid?
      =link_to 'Reverse Payment', [:reverse, @invoiceable, @invoice], confirm: "Are you sure you want to reverse this payment?", method: :post, :class => 'btn btn-danger'
    -else
      =link_to 'Edit', [:edit, @invoiceable, @invoice], :class =>'btn btn-primary'

    -if @invoice.can_be_deleted?
      =link_to 'Delete', [@invoiceable, @invoice], delete_options(@invoice)

    -if @invoice.paid?
      closed
    -elsif @invoice.can_close?
      =link_to 'Pay Remainder', [:close, @invoiceable, @invoice], confirm: "Has #{@invoice.customer.name} made full payment?", method: :post, class: 'btn btn-primary'
    -else
      =link_to 'Manually Reconcile', [:reconcile, @invoiceable, @invoice], confirm: "Are you sure, you want to reconcile this invoice manually ?", method: :post, class: 'btn btn-primary'

.stats.bottom_margin
  =render 'status_line'
.h-rule

%h3 Allocations
%table.table
  %thead
    %tr
      %th Account
      %th Gross Amount
      -#%th Renumeration
      -#%th Contribution
      %th Contribution
      %th Paid
      %th Owing
  %tbody
    -@invoice.allocations.each do |a|
      %tr
        %td=a.account.name
        %td=a.amount
        -#%td=a.renumeration_amount
        -#%td=number_to_currency(a.contribution_amount, delimiter: '')
        %td="#{(a.contribution * 100)}%"
        %td=a.amount_paid
        %td=a.amount_owing


%h3 Payments
=simple_form_for [@invoiceable, @invoice] do |f|
  #payments
    =f.simple_fields_for :payments do |pf|
      %p
        =number_to_currency(pf.object.amount)
        on
        =l pf.object.paid_on
    .links
      =link_to_add_association 'Make Partial Payment', f, :payments, :class => :btn
  =f.submit :Save, class: 'btn btn-primary'
