= form_tag batch_update_staff_availabilities_path, :method => :put do
  %table
    %thead
      %td 
        %strong Capacity
      %td This Week
      %td Next Week
      %td #{(Date.today + 2.weeks).strftime('%b %-d')}
      %td #{(Date.today + 3.weeks).strftime('%b %-d')}
      %td #{(Date.today + 4.weeks).strftime('%b %-d')}
    %tr
      %td Your Availability:
      - for availability in @availabilities
        %td 
          = hidden_field_tag 'availabilities[][id]', availability.id
          = hidden_field_tag 'availabilities[][week]', availability.week
          = number_field_tag 'availabilities[][time]', availability.time, :size => '3', :min => '0', :max => '160'

  = submit_tag 'Update Availability'


