- title("Your Enspiral work capacity.")

%table
  %tbody
    %thead
      %td 
        %strong Capacity
      %td This Week
      %td Next Week
      %td Week #{(Date.today + 2.weeks).strftime('%W')}
      %td Week #{(Date.today + 3.weeks).strftime('%W')}
      %td Week #{(Date.today + 4.weeks).strftime('%W')}
    %tr
      %td Your Availability:
      -@availabilities.each do |availability|
        %td #{availability.time}
    %tr
      %td Your Total Bookings:
      -for i in (0..4) do
        - if !@total_hours_booked and !@total_hours_booked[Date.today + i.weeks]
          - this_weeks_hours = @total_hours_booked[Date.today + i.weeks][1]
        - else  
          - this_weeks_hours = 0
        %td #{this_weeks_hours}
    %tr
      %td &nbsp;
    %tr
      %td 
        %strong Project

    -@projects.each do |project|
      %tr
        %td= project.name
        - project_hours = project.bookings.upcoming.total_hours
        -for i in (0..4) do
          - if !@total_hours_booked and !@total_hours_booked[Date.today + i.weeks]
            - this_weeks_hours = @total_hours_booked[Date.today + i.weeks][1]
          - else  
            - this_weeks_hours = 0
          %td #{this_weeks_hours}







