= form_for([:admin, @service_category]) do |f|
  - if @service_category.errors.any?
    #error_explanation
      %h2
        = pluralize(@service_category.errors.count, "error")
        prohibited this service_category from being saved:
      %ul
        - @service_category.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
  .actions
    = f.submit
