%h1 Project bookings reminder
%p Booking in how many hours you have allocated to projects per week allows us to see who has work and who does not.
%p We request that you visit #{link_to('Your Capacity', your_capacity_index_url)} and indicate how your workload looks for the next few months.
%p You may need to join or create a project before it will show up on this page.
%p= "While you are on the #{APP_CONFIG[:organization]} site.. it would be a good idea to ensure that your profile is up to date."
%p
  In other words:
  %br
  %i update these if you want to live.
  ="\- arnold schwarzenegger ( #{APP_CONFIG[:organization]} member since 1977, former governor of california)"

=link_to 'Update your project bookings', your_capacity_index_url

%table
  %thead
    %tr
      %th
        %strong Projects
      - week_dates(@start_on, @finish_on).each do |date|
        %th
          %strong= date.to_s

  %tbody
    - @person.project_memberships.each do |membership|
      -project = membership.project
      -bookings = membership.project_bookings
      %tr
        %td= link_to project.name, project
        - bookings.total_hours_per_week(@start_on, @finish_on).each do |week, hours|
          %td.centered= hours
