%h1 Transfer Funds

%p
  Use this form to transfer funds to other people in the company

= form_tag staff_funds_transfer_path do |f|
  %p
    = label_tag :amount
    = text_field_tag :amount, @amount
  
  %p
    = label_tag :person_id, 'Person'
    = select_tag :person_id, options_from_collection_for_select(Person.where('id != ?', current_person.id).all, 'id', 'name')

  .actions= submit_tag "Save"
