<p id="notice"><%= notice %></p>

<b>Name:</b><br />
<%= @customer.name %><br />
<br />
<b>Description:</b><br />
<%= @customer.description %><br />
<br />

<%= link_to 'Edit', edit_admin_customer_path(@customer) %> |
<%= link_to 'Back', admin_customers_path %>
