= form_tag capacity_update_path, :method => :put do
  = hidden_field_tag(:project_membership_id, @project_membership.id)

  %table
    %tr
      %th &nbsp;
      - @formatted_dates.each do |date|
        %th= date
      %th &nbsp;

    %tr
      %td 
        %strong #{@project.name}

      - @project_bookings.each do |week, time|
        %td.centered 
          = hidden_field_tag 'project_bookings[][week]', week
          = number_field_tag 'project_bookings[][time]', time, :size => '3', :min => '0', :max => '160', class: 'input-mini'
      %td.centered= submit_tag("Save") 
