- if @person != current_person
  - title("Editing #{@person.name}'s Availability")
  %h3.margin_bottom #{@person.name}'s Availability on #{@project.name}
- else
  - title('Editing Your Availability')
  %h3.margin_bottom Your availability on #{@project.name}

= render :partial => 'project_bookings', :object => @project_bookings

= link_to 'Back', :back
