-title('Enspiralites Utilization')
.row.bottom_margin
  %h1.span5 Capacity
  .model_actions.span5
    = link_to '<< Previous', capacity_url(:dates => @previous_weeks), class: 'btn'
    = link_to 'Next >>', capacity_url(:dates => @next_weeks), class: 'btn'

.row
  =form_tag '' do
    =select_tag :skill_ids, options_for_select(Skill.all.map{|s| [s.name, s.id]}), multiple: true, class: 'czn-select'
    =select_tag :country_ids, options_for_select(Country.all.map{|s| [s.name, s.id]}), multiple: true, class: 'czn-select'
    =select_tag :city_ids, options_for_select(City.all.map{|s| [s.name, s.id]}), multiple: true, class: 'czn-select'
    =submit_tag


%nav
  .nav.table_actions
    %ul.nav.nav-tabs
      %li.nav_label
        Find:
      .search_box.navbar-form.pull-left
        =text_field_tag :search, nil, :class => "input-small"
%table.overview_capacity.table.table-striped
  %thead
    %tr
      %th 
        %strong Enspiralite (Rate)
      - @formatted_dates.each do |date|
        %th.centered
          = date
  %tbody
    - @people_bookings.each do |pb|
      -person, bookings = *pb
      %tr
        %td.text_filter=link_to(raw("#{person.name} <br /> #{number_to_currency person.rate}"), profile_path(person))
        - time_booked_by_week(bookings, @current_weeks).each do |week, total_hours|
          %td
            -decimal= (total_hours.to_f / person.default_hours_available.to_f) * 100
            -percentage = number_to_percentage(decimal, :precision => 0)
            .progress{class: "#{'progress-danger' if decimal <= 30} #{'progress-warning' if decimal > 30 and decimal <= 75} #{'progress-success' if decimal > 75}"}
              .bar{style: "width: #{percentage}"} #{percentage} (#{person.default_hours_available - total_hours}hrs)

= link_to 'Export to .csv', capacity_path(:format => :csv)
