-title('Enspiralites Utilization')
.row.bottom_margin
  %h1.span5 Capacity

.row
  =form_tag '', method: :get do
    Skills:
    =select_tag :skill_ids, options_for_select(Skill.all.map{|s| [s.name, s.id]}), multiple: true, class: 'czn-select'
    Countries:
    =select_tag :country_ids, options_for_select(Country.all.map{|s| [s.name, s.id]}), multiple: true, class: 'czn-select'
    Cities:
    =select_tag :city_ids, options_for_select(City.all.map{|s| [s.name, s.id]}), multiple: true, class: 'czn-select'
    =submit_tag 'Filter Selection'


%nav
  .nav.table_actions
    %ul.nav.nav-tabs
      %li.nav_label
        Find:
      .search_box.navbar-form.pull-left
        =text_field_tag :search, nil, :class => "input-small"
%table.overview_capacity.table.table-striped
  %thead
    %tr
      %th 
        %strong Enspiralite
      %th
        Last updated
      - week_dates(@start_on, @finish_on).each do |date|
        %th.centered
          = date
  %tbody
    - @people.each do |person|
      - next unless person.default_hours_available > 0
      %tr
        %td.text_filter
          =link_to "#{person.name} (#{person.default_hours_available})", profile_path(person)

        %td
          - if last_booking = person.project_bookings.order('created_at desc').limit(1).first
            = time_ago_in_words last_booking.created_at
        - person.project_bookings.total_hours_per_week(@start_on, @finish_on).each do |week, hours|
          %td
            -decimal= (hours.to_f / person.default_hours_available.to_f) * 100
            -percentage = number_to_percentage(decimal, :precision => 0)
            .progress{class: "#{'progress-danger' if decimal <= 30} #{'progress-warning' if decimal > 30 and decimal <= 75} #{'progress-success' if decimal > 75}"}
              .bar{style: "width: #{percentage}"} #{percentage} (#{person.default_hours_available - hours}hrs)

