= form_for ([:staff, @project_membership]) do |f|

  -if @project_membership.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_membership.errors.count, "error")} prohibited this Project Membership from being saved:"
      %ul
        - @project_membership.errors.full_messages.each do |msg|
          %li= msg
  
  = f.hidden_field :project_id
  %table
    %tr
      %td= f.label :person_id, 'Person'
      %td= f.select :person_id, Person.all.collect { |person| [person.name, person.id] }, :selected => @project_membership.person_id
    %tr
      %td Project
      %td= Project.find(@project_membership.project_id).name
    %tr
      %td= f.label :is_lead, 'Project Lead'
      %td= f.check_box :is_lead
    %tr
      %td= f.label :role, 'Project Role'
      %td= f.text_field :role

  .actions
    = f.submit 'Save'

