%h1 Project Memberships

%table
  %tr
    %th
    %th
    %th

  - @project_memberships.each do |project_membership|
    %tr
      %td= project_membership.person.name
      %td= project_membership.project.name
      %td= link_to 'Show', staff_project_membership_path(project_membership)
      %td= link_to 'Edit', edit_staff_project_membership_path(project_membership)
      %td= link_to 'Destroy', staff_project_membership_path(project_membership), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project person', new_staff_project_membership_path
