<% form_for @user do |form| %>
  <%= form.error_messages %>

  <table>
    <tr>
      <td><%= form.label :username, "Username" %></td>
      <td><%= form.text_field :username %></td>
    </tr>
    <tr>
      <td><%= form.label :email, "Email" %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :password, "Password" %></td>
      <td><%= form.password_field :password %></td>
    </tr>
    <tr>
      <td><%= form.label :password_confirmation, "Password confirmation" %></td>
      <td><%= form.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <td><%= form.submit "Submit" %></td>
    </tr>
  </table>
<% end %>