<h1>Add an invoice</h1>

<%= form_for @invoice, :url => admin_invoices_path do |f| %>
  <p>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.text_field :date %>
  </p>

  <p>
    <%= f.label :due %>
    <%= f.text_field :due %>
  </p>

  <p>
  <%= f.label :customer_id, 'Customer' %>
  <%= f.select :customer_id, options_for_select(Customer.all.collect{|c| [c.name, c.id]}) %>
  </p>

  <%= f.submit 'Save'%>
<% end %>

<script type='text/javascript'>
  $('#invoice_date').datepicker({ dateFormat: 'yy-mm-dd'} );
  $('#invoice_due').datepicker({ dateFormat: 'yy-mm-dd'} );
</script>
