- title("Add an invoice")

= form_for @invoice, :url => admin_invoices_path do |f|
  = f.error_messages
  
  %p
    = f.label :amount
    = f.text_field :amount

  %p
    = f.label :date
    = f.text_field :date

  %p
    = f.label :due
    = f.text_field :due

  %p
    = f.label :customer_id, 'Customer'
    = f.select :customer_id, options_for_select(Customer.order('name').all.collect{|c| [c.name, c.id]})

  = f.submit 'Save'

- content_for :javascripts do
  :javascript
    $('#invoice_due').kalendae({ 
      months: 2,
      format: 'YYYY-MM-DD',
      viewStartDate: Kalendae.moment().subtract({M:1}),
      subscribe: {
       'change': function () {
           console.log(this.input.blur());
       }
     } 
    });
    $('#invoice_date').kalendae({ 
      months: 2,
      format: 'YYYY-MM-DD',
      viewStartDate: Kalendae.moment().subtract({M:1}),
      subscribe: {
       'change': function () {
           console.log(this.input.blur());
       }
     } 
    });
