<% if @invoice.unallocated > 0 %>
  <div style='float:right;margin-right:50px;'>
  <h3>Allocate invoice</h3>
    <p>
      <%= number_to_currency(@invoice.unallocated) %> is yet to be allocated.
    </p>
  <% form_for @invoice_allocation, :url => admin_invoice_allocations_path() do |f| %>
    <%= f.hidden_field :invoice_id %>

    <p>
      <%= f.label :amount %>
      <%= f.text_field :amount, :tabindex => 1 %>
    </p>

    <p>
      <%= f.label :hours, "For hours worked" %>
      <%= f.text_field :hours, :tabindex => 2 %>
      <br />
      <small>(If not applicable enter 0)</small>
    </p>

    <p>
      <%= f.label :person_id, 'Staff Member' %>
      <%= f.select :person_id, options_for_select(Person.all.collect {|p| [p.name, p.id]}), {}, :tabindex => 3 %>
    </p>

    <%= f.submit 'Allocate', :tabindex => 4 %>
  <% end %>
</div>
<% end %>
<h1>View Invoice</h1>

<% unless @invoice.paid %>
  <% if @invoice.allocated?%> 
    <%= link_to 'Pay', pay_admin_invoice_path(@invoice) %>
  <% else %>
    <%= link_to 'Destroy', admin_invoice_path(@invoice), :method => 'delete' %>
  <% end %>
<% end %>
<p>To: <%= @invoice.customer.name %></p>
<p>For: <%= number_to_currency(@invoice.amount) %></p>
<p>Created: <%= time_ago_in_words(@invoice.date) %> ago</p>
<p>Due: <%= time_ago_in_words(@invoice.due) %> from now</p>

<% if @invoice.allocations.size > 0 %>
  <h3>Allocations</h3>
  <table class='invoice_allocations'>
    <% for allocation in @invoice.allocations %>
      <tr class='invoice_allocation'>
        <td> <%= number_to_currency(allocation.amount) %> </td>
        <td> <%= allocation.person.name %> </td> 
        <td> <%= link_to('delete', admin_invoice_allocation_path(allocation), :method => 'delete') unless @invoice.paid%></td>
      </tr>
    <% end %>
  </table>
<% end %>
