- if @invoice.unallocated > 0
  %div{:style => 'float:right;margin-right:50px;'}
    %h3 Allocate invoice
    
    %p= "#{number_to_currency(@invoice.unallocated)} is yet to be allocated."

    = form_for @invoice_allocation, :url => admin_invoice_allocations_path do |f|
      = f.hidden_field :invoice_id

      %p
        = f.label :amount
        = f.text_field :amount, :tabindex => 1

      %p
        = f.label :hours, "Hours"
        = f.text_field :hours, :tabindex => 2
        %br
        %small (If not applicable enter 0)

      %p
        = f.label :person_id, 'Person'
        = f.select :person_id, options_for_select(Person.active.collect {|p| [p.name, p.id]}), {}, :tabindex => 3

      = f.submit 'Allocate', :id => "invoice_allocation_submit", :tabindex => 4

- title("View Invoice")

- unless @invoice.paid
  - if @invoice.allocated?
    = link_to 'Pay', pay_admin_invoice_path(@invoice)
  - else
    = button_to "Destroy", admin_invoice_path(@invoice), :confirm => "Are you sure?", :method => :delete

%p= "To: #{@invoice.customer.name}"
%p= "For: #{number_to_currency(@invoice.amount)}"
%p= "Created: #{time_ago_in_words(@invoice.date)} ago"
%p= "Due: #{time_ago_in_words(@invoice.due)} from now"

- if @invoice.allocations.size > 0
  %h3 Allocations
  %table{:class => 'invoice_allocations'}
    - for allocation in @invoice.allocations
      %tr{:class => 'invoice_allocation'}
        %td= number_to_currency(allocation.amount)
        %td= allocation.person.name
        %td= button_to "delete", admin_invoice_allocation_path(allocation), :confirm => "Are you sure?", :method => :delete unless @invoice.paid
