=content_for :full_width_page do
  .full_width.container
    %section.row
      .rslides_container.span12
        %ul#slideshow
          %li
            =link_to '#' do
              =image_tag 'carousel/HaereMaicrop.jpg'
          %li
            =link_to '#' do
              =image_tag 'carousel/HaereMaicrop.jpg'
        =content_for :javascripts do
          :coffeescript
            $('#slideshow').responsiveSlides(
              nav: true 
            )

    %section.row.bottom_margin
      .span3
        %h2
          =link_to 'Blurb Heading', '#'
        %p
          Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
      .span3
        %h2
          =link_to 'Blurb Heading', '#'
        %p
          Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
      .span6
        %h2
          =link_to 'Blurb Heading that is longer woo', '#'
        %p
          Lorizzle ipsizzle dolor gangster amizzle, consectetuer adipiscing elit. Nullizzle sapien velizzle, aliquet check it out, ass quis, own yo' vizzle, arcu. Pellentesque eget gizzle. Sizzle eros. 
          Blurb Heading Three
  .phase2
    #featured_items.carousel_small
      %section.container
        .layout_shadow
        .row.bottom_margin
          %h2.span12 Featured companies, people, and projects
        .row.carousel_row
          .span1.mask_carousel
            .nav_prev.sprite.sprite-small-arrow.small-arrow-left
              prev
          .carousel.slide.span10.add_gutter
            .carousel-inner
              -@featured_items.each_slice(5).with_index do |slice, index|
                .item{class: "#{'active' if index == 0}"}
                  -slice.each_with_index do |i, index|
                    -i = i.resource
                    .image_list_item.image_list_item_small.span2{class: "#{'first' if index == 0}"}
                      .image
                        - if i.image
                          =image_tag i.image.thumb('200x170').url
                        - else
                          =image_tag 'defaultbust.jpg'
                      %h3=i.name
                      -#-if i.tagline
                        -#%p=i.tagline
          .nav_next.carousel_rowext.sprite.sprite-small-arrow.small-arrow-right
            next
  #latest_thoughts.carousel_small
    %section.container
      .layout_shadow
      .row.bottom_margin
        %h2.span12 Latest Thoughts...
      .row.carousel_row
        .span1.mask_carousel
          .nav_prev.sprite.sprite-small-arrow.small-arrow-left
            prev
        .carousel.slide.span10.add_gutter
          .carousel-inner
            =social_items_carousel(@social_items)
        .nav_next.carousel_rowext.sprite.sprite-small-arrow.small-arrow-right
          next
  #latest_thoughts_mobile.visible-phone
    %section.container
      .layout_shadow
      .row.bottom_margin
        %h2.span12 
          Latest Thoughts...
      .row
        -@social_items.first(5).each do |si|
          .mobile_item
            - if si.twitter_only
              -tweet = Twitter.user_timeline(si.resource.twitter).first
              %p.tweet_text=tweet.text
              .type
                %a{ target: '_blank', href: "http://twitter.com/#{si.resource.twitter}" }
                  Tweet
              %p.where #{si.resource.twitter} #{nice_date tweet.created_at}
            - if si.resource_type == 'Blog'
              -blog_post = si.resource.blog_posts.first
              .blog_title=link_to blog_post.title.html_safe, blog_post.url
              %p.blog_text=truncate(strip_tags(blog_post.summary), length: 170).html_safe
              .type
                %a{ target: '_blank', href: "#{si.resource.url}" }
                  Blog
              %p.where #{si.resource.company ? si.resource.company.name : si.resource.person.name} #{nice_date blog_post.posted_at}
=content_for :javascripts do
  :coffeescript
    $('.carousel').carousel
      interval: 20000
    $('#featured_items .nav_next').on 'click', (e)->
      $('.carousel').carousel('next')
    $('#featured_items .nav_prev').on 'click', (e)->
      $('.carousel').carousel('prev')
