- title("#{@company.name} Customers")
%table
  %tr
    %th
    %th
    %th
  - @customers.each do |customer|
    %tr
      %td= link_to customer.name, [@company, customer]
      %td= link_to 'Edit', edit_company_customer_path(@company, customer)
      %td= link_to 'Destroy', [@company, customer], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Customer', new_company_customer_path(@company)
