-title("Customer: #{@customer.name}")
.row.bottom_margin 
  %h1.span5 #{@customer.name}
  .model_actions.span5
    = link_to 'Edit', [:edit, @company, @customer], class: 'btn'
    - if !@customer.approved?
      =link_to 'Approve', [:approve, @company, @customer], confirm: "Do you want to approve customer ##{@customer.name} ?", method: :post, class: 'btn'
.row.bottom_margin
  %p.subtext.span3
    %strong Created:
    #{nice_date @customer.created_at}
  %p.subtext.span6
    =@customer.description
.row
  %p.span3
    = link_to 'View Invoices', [@company, @customer, :invoices]
%section.row
  .span10
    %h3 Projects
    %table.table.table-striped.table-compact
      %tbody
        %thead
          %tr
            %th Name
            %th Members
        -@customer.projects.each do |p|
          %tr
            %td
              =link_to p.name, p
            %td
              =raw p.people.map{|p| "#{link_to "#{p.first_name}", profile_path(p)}"}.join(', ')
