-title("Customer: #{@customer.name}")
%p#notice= notice
%b Name:
%br/
= @customer.name
%br/
%br/
%b Description:
%br/
= @customer.description
%br/
%br/
= link_to 'Edit', edit_staff_customer_path(@customer)
|
\#{link_to 'Back', staff_customers_path}
