- title('Project Administration')

%table.projects
  %tr
    %th{:width => '28%'}= sortable 'name'
    %th{:width => '14%'}= sortable 'status'
    %th{:width => '28%'}= sortable 'customers.name', 'Customer'
    %th{:width => '10%'} &nbsp;
    %th{:width => '10%'} &nbsp;
    %th{:width => '10%'} &nbsp;

  - @projects.each do |project|
    %tr
      %td= project.name
      %td.centered= project.status
      %td.centered= project.customer ? project.customer.name : ''
      %td.centered= button_to 'Edit',  edit_project_path(project), :method => :get
      %td.centered= button_to 'Show', project_path(project), :method => :get
      %td.centered= button_to 'Delete', admin_project_path(project), :method => :delete, :confirm => "Warning: This will delete all project membership and project bookings bound to this project. Are you sure you want to delete it?"

= link_to '+ New Project', new_project_path
