%div#blog_entry
  %h3= sanitize(blog_entry.title)
  
  #published
    = blog_entry.published
  
  %p#text
    = sanitize(blog_entry.summary)
    %br
    = link_to "continue reading...", blog_entry.url

  %p#information= "Written by #{blog_entry.author.capitalize}"

  .spacer

