%div#blog_entry
  %h3= sanitize(blog_entry.title)
  
  #published
    & #{time_ago_in_words blog_entry.published} ago
  
  %p#text
    = sanitize(blog_entry.summary)
    %br
    = link_to "continue reading...", blog_entry.url

  %p#information= "Written by #{blog_entry.author.capitalize}"

  .spacer

