#banner.clearfix
  .banner-feature
    %h2 being the change we 
    %h2 want to see in the world
    = link_to 'more...', 'http://blog.enspiral.com'
  .banner-feature
    %h2 do you have an 
    %h2 interesting project? 
    = link_to 'contact us today...', '#footer'
#page.clearfix
  .left-col
    @sam_enspiral
    #feeds
      %h1 blog
      = raw @feeds.collect { |feed| render :partial => 'feed', :locals => { :feed => feed } }.join('<div class="spacer"></div>')

  .right-col
    -# #join
      = image_tag 'site_images/join.png', :alt => 'Join us icon'
      %p
        become one
        %br
        &nbsp; of the team
        %br
        = link_to 'find out more...', '#'
    #featured-people
      %h2 some of the team 
      .person-brief.clearfix
        #44x54
        = image_tag 'site_images/person-thumb.jpg'
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          =link_to 'Read More', '#'
      .spacer
      .person-brief.clearfix
        #44x54
        = image_tag 'site_images/person-thumb.jpg'
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          = link_to 'Read More', '#'
    #latest-tweets
      %h2 latest tweets
      = render :partial => 'twitter'
  
