%div{:style => "width:825px; margin: 20px auto 0;"}
  #client-spotlight
    %h1 Client Spotlight

    %div{:style => "margin-bottom:50px;"}

      %h2{:style => "background-color:grey; padding: 0.25em 0.5em; margin-bottom:1em;"} PixelPaint

      = link_to image_tag("pixelpaint_logo.png"), "http://pixelpaint.co.nz/", :style => "display:block; margin-bottom:2em;"

      :textile
        Rich Harris of "PixelPaint":pixelpaint canvas prints: “Bringing your creation to life”. 

        We were having a nightmare with outsourcing in Indonesia.  Sure it was cheap, but the amount of extra overhead caused in trying to sort out communication problems and the quality of the code and QC/deployments really wasn't working for us.  It turned out to be a very false economy so we decided to try and find a local developer.  

        We had an initial meeting with Enspiral to go through our requirements and then one of the developers came on site and we worked through the finer details.  Will was very good at putting our ideas and frustrations into technical action points.

        Enspiral really delivers for us.  They understand the urgency around developments and I love that we can reply on them to go the extra mile when we need to.  We have a weekly meeting with our developers to go through progress and plan the next action points which works very well.  Communication is good, too.

        We would definitely recommend Enspiral to others - but only when we're done with you! We've been using Enspiral for 2 months now and we have been extremely impressed with not only their their technical ability but their commitment and dedication to ensuring we are delivered projects on time.  I swear they never sleep!

        [pixelpaint]http://pixelpaint.co.nz/

      %h2{:style => "background-color:grey; padding: 0.25em 0.5em; margin-bottom:1em;"} Passionfruit

      = link_to image_tag("passionfruit_logo.png"), "http://passionfruit.co.nz/", :style => "display:block; margin-bottom:2em;"

      :textile
        Ezra Keddel of "Passionfruit online media":passionfruit  web design and development company: “double the way your clients view the value of your company”.

        Enspiral has a very open strategy when it comes to their company with a social conscience which is very attractive. The way Enspiral wants to open up company structures seems very synonymous with the web and I see lots of parallels to what the internet has done for knowledge and communication. 

        One highlight of Enspiral is Ruby on Rails! What a great way of building a website/application. I would absolutely would work with Enspiral again.

        [passionfruit]:http://passionfruit.co.nz/

      %h2{:style => "background-color:grey; padding: 0.25em 0.5em; margin-bottom:1em;"} ShowGizmo
      
      = link_to image_tag("showgizmo_logo.png"), "http://www.showgizmo.com/", :style => "display:block; margin-bottom:2em;"

      :textile
        Marie-Claire Andrews of "ShowGizmo: “The smartphone app for any event”":showgizmo.

        I picked Enspiral because I picked Josh and Sam.  They were calm beacons of technical insight in a storm of I-have-no-idea-what-to-do-next.  They picked up a challenge and dealt to it with cheery gusto.  They're different because they care about the context for the work - they know why something matters from a business perspective so they always create just what's really needed - and for non-technical founders that's a godsend.

        Sam has an ability to create something from nothing (well from lots of bits and bobs).  Late night skypes and brainstorms, flexible and transparent working arrangements, and they truly rose to the occasion when we hit a funding wall and still needed their time.  Despite being on contract, Enspiral have always been core team members.

        I'd definitely work with Enspiral again (we still are!) but would love to see their own projects come to fruition.  I hope that they can continue to build a flexible resource base for growing, cash-strapped start ups as well as find the time to create their own enterprises.

        It's been a meteoric year that we've known the team - they've changed and we have too.  When we met Enspiral it was really Josh and Sam in a tiny shoe-box office!  So I'm really impressed with the energy that Josh has, and continues to has - that attracts such awesome people.

        [showgizmo]http://www.showgizmo.com/
      

  #project-spotlight{:style => "border-top:1px solid #ccc; padding-top:2em;"}
    %h1 Project Spotlight

    %div{:style => "margin-bottom:50px;"}
      %h2{:style => "background-color:grey; padding: 0.25em 0.5em; margin-bottom:1em;"} Parents Voice
      
      = link_to image_tag("parentsvoice.jpg"), "http://www.parentsvoice.org.nz/", :style => "display:block; margin-bottom:2em;"

      :textile
        "Parents Voice":parentsvoice is an online community of parents, whānau and caregivers who want to improve the food and physical activity environments of New Zealand children.

        Enspiral partnered with The Cancer Society, Te Hotu Manawa Māori, and Fight the Obesity Epidemic to create the "Parents Voice":parentsvoice identity and website.

        The concept was based on the well established Australian Parent's Jury, but we went back to the drawing board with the information architecture and visual design.

        The fun, colourful brand and intuitive user interface were developed to appeal to a wide demographic of parents, grandparents, and guardians, with emphasis on the discussion forums, surveys, and current news.

        Right now the "Parents Voice":http://www.parentsvoice.org.nz/ is just beginning to build momentum so if you have an interest in the health of our kids (and face it who doesn't?) check out "www.parentsvoice.org.nz":parentsvoice or like them on their "Facebook page":https://www.facebook.com/pages/Parents-Voice/195225570509998!

        [parentsvoice]http://www.parentsvoice.org.nz/

      %h2{:style => "background-color:grey; padding: 0.25em 0.5em; margin-bottom:1em;"} The New Zealand Guidelines Group

      = link_to image_tag("nzgg.jpg"), "http://www.nzgg.org.nz/", :style => "display:block; margin-bottom:2em;"
      
      :textile
        "The New Zealand Guidelines Group":nzgg needed a professional online presentation to support their work in the NZ health sector. The Enspiral information architecture & conceptual design team worked with "NZGG":nzgg in a series of workshops to establish a joint understanding of all requirements, work iteratively towards a well balanced sitemap and to create wireframes that document a new information architecture.

        As "NZGG":nzgg's branding was outdated, the design phase was started by refreshing the corporate design and designing a new "NZGG":nzgg logo. The underlying creative brief allowed for a seamless transition into the visual design phase, resulting in a new look & feel that continues to be praised by "NZGG":nzgg's audiences.

        The new "NZGG":nzgg website is focused around a meaningful & easy to search library of evidence-based research on health topics. Enspiral's solution leverages the Refinery CMS platform, with integration of the DDP E-Book reader module as well as the Apache Solr search engine. A members area was created, allowing health practitioners to bookmark publications of interest and easily access resources according to their fields of interest and established favourites.
        
        [nzgg]http://www.nzgg.org.nz/
