%h1.bottom_margin Project Details
= form_for (@project) do |f|
  -if @project.errors.any?
    .alert.alert-error
      %h4.alert-heading= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul.unstyled
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, 'Project Title *'
    = f.text_field :name
  .control-group
    = f.label :description, 'Project Description'
    = f.text_area :description, :size => "50x6"
  .control-group
    = f.label :customer_id, 'Customer'
    = f.select :customer_id, Customer.all.collect { |customer| [customer.name, customer.id] }, {}, {  class: 'czn-select', :include_blank => 'None'}

    -if @company
      %div
        = link_to 'New customer', new_company_customer_path(@company)
    -#=text_field_tag :autocomplete
    -#=content_for :javascripts do 
      -#:coffeescript
        -#console.log data
        -#data = ['aaa', 'bbb', 'ccc']
        -#$('#autocomplete').autocomplete
          -#source: data
  .control-group
    = f.label :status, 'Status *'
    = f.select :status, [['Active', 'active'], ['Inactive', 'inactive']]
  .control-group
    = f.label :due_date, 'Due Date'
    = f.text_field :due_date, class: 'datepicker'

  .actions
    = f.submit class: 'btn'
