- title('Project Management')
%span
  %strong Show: 
  = link_to 'Active', params.merge(:status => 'active')
  \|
  = link_to 'In-Active', params.merge(:status => 'inactive')
  \|
  = link_to 'All', params.merge(:status => 'all')


.row.bottom_margin
  %h1.span5 Projects
  .model_actions.span5= link_to 'New Project', new_project_path, class: 'btn'

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#t1"} All Projects
    %li
      %a{"data-toggle" => "tab", :href => "#t2"} Your Projects
  .tab-content
    #t1.tab-pane.active
      %nav
        .nav.table_actions
          %ul.nav.nav-tabs
            %li.nav_label
              Find: 
            .search_box.navbar-form.pull-left
              =text_field_tag :search, nil, :class => "input-small"
            -#.quick_actions
              -#%li=link_to "+ new", new_admin_person_path
            %li.nav_label
              Show: 
            %li.filter.active.filter-active=link_to "Active", "#active"
            %li.filter.filter-inactive=link_to "Inactive", "#inactive"
            %li.filter.filter-all=link_to "All", "#"
      %table.table.table-striped.projects
        %thead
          %tr
            %th= sortable 'name'
            %th= sortable 'status'
            %th= sortable 'customers.name', 'Customer'
            %th &nbsp;
            %th &nbsp;

        %tbody
          - @all_projects.each do |project|
            %tr{class: "#{project.status == "active" ? "active" : "inactive"}"}
              %td= project.name
              %td.centered= project.status
              %td.centered= project.customer ? project.customer.name : ''
              %td.centered= link_to 'Join',  project_memberships_path(:project_id => project.id), :method => :post
              %td.centered= link_to 'Show', project_path(project)

    #t2.tab-pane
      - if @current_projects.empty?
        %p.centered
          %strong You are not currently part of any projects.

      - else
        %table.table.table-striped.projects
          %thead
            %tr
              %th{:width => '32%'} Project
              %th{:width => '16%'} Status
              %th{:width => '32%'} Customer
              %th{:width => '10%'} &nbsp;
              %th{:width => '10%'} &nbsp;

          %tbody
            - @current_projects.each do |project|
              %tr
                %td= project.name
                %td.centered= project.status
                %td.centered= project.customer ? project.customer.name : ''
                %td.centered= link_to 'Edit', edit_project_path(project)
                %td.centered= link_to 'Show', project_path(project)


