- title('Project Management')
%span
  %strong Show: 
  = link_to 'Active', params.merge(:status => 'active')
  \|
  = link_to 'In-Active', params.merge(:status => 'inactive')
  \|
  = link_to 'All', params.merge(:status => 'all')


%h2 Your Projects

- if @current_projects.empty?
  %p.centered
    %strong You are not currently part of any projects.

- else
  %table
    %tr
      %th{:width => '32%'} Project
      %th{:width => '16%'} Status
      %th{:width => '32%'} Customer
      %th{:width => '10%'} &nbsp;
      %th{:width => '10%'} &nbsp;

    - @current_projects.each do |project|
      %tr
        %td= project.name
        %td.centered= project.status
        %td.centered= project.customer ? project.customer.name : ''
        %td.centered= link_to 'Edit', edit_staff_project_path(project)
        %td.centered= link_to 'Show', staff_project_path(project)


%h2 All Projects

%table.projects
  %tr
    %th{:width => '32%'}= sortable 'name'
    %th{:width => '16%'}= sortable 'status'
    %th{:width => '32%'}= sortable 'customers.name', 'Customer'
    %th{:width => '10%'} &nbsp;
    %th{:width => '10%'} &nbsp;

  - @all_projects.each do |project|
    %tr
      %td= project.name
      %td.centered= project.status
      %td.centered= project.customer ? project.customer.name : ''
      %td.centered= link_to 'Join',  staff_project_memberships_path(:project_id => project.id), :method => :post
      %td.centered= link_to 'Show', staff_project_path(project)

= will_paginate @all_projects


= link_to '+ New Project', new_staff_project_path
