- title("#{@project.name}")
%p#notice= notice

%h2 Project Details
%table
  %tr
    %td{:width => '30%'}
      %strong Project Title:
    %td= @project.name
  %tr
    %td &nbsp;

  %tr
    %td 
      %strong Project Description:
    %td= @project.description
  %tr
    %td &nbsp;

  %tr
    %td 
      %strong Customer:
    %td= @project.customer ? @project.customer.name : 'None'
  %tr
    %td &nbsp;

  %tr
    %td 
      %strong Status:
    %td= @project.status.titleize
  %tr
    %td &nbsp;

  %tr
    %td 
      %strong Due Date:
    %td= @project.due_date


%h2 Project Bookings
= render 'project_bookings', :project => @project
%p (*) Project Lead

%br
= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
