<h2><%=h @project.name %></h2>

<p>
  <%= image_tag @project.image.url(:medium) %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
  <%=h @project.city %>
</p>

<hr />

<h3>People on this project</h3>
<table>
  <% @people.each do |person| %>
  <tr>
      <td><%= link_to (image_tag person.gravatar_url), person %></td>
      <td><%= link_to person.name, person %></td>
      <td><%= person.worked_on.find_by_project_id(@project).description %></td>
      <td>
        <%= link_to 'Delete', remove_person_project_path(@project, :person_id => person) %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Add person to this project</h3>
<% available_people = Person.all - @people %>
<% if available_people.size > 0 %>
  <% worked_on = WorkedOn.new
  worked_on.project = @project
%>
  <% form_for :worked_on, worked_on, :url => add_person_project_path(@project) do |f|  %>
    <%= f.hidden_field :project_id %>
    <br/>
    <%= f.select :person_id, options_for_select(available_people.collect {|p| [p.first_name, p.id]}) %>
    <br/>
    <%= f.text_area :description, :size => '40x4' %>
    <br/>
    <%= f.submit 'Add' %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
