- title("#{@project.name}")
%section
  %p#notice= notice
  .row
    %h2.span2.bottom_margin Project Details
    .model_actions
      = link_to 'Edit', edit_project_path(@project), class: 'btn'
  %table.table.table-striped
    %tr
      %td{:width => '30%'}
        %strong Project Title:
      %td= @project.name
    %tr
      %td 
        %strong Project Description:
      %td= @project.description
    %tr
      %td 
        %strong Customer:
      %td= @project.customer ? @project.customer.name : 'None'
    %tr
      %td 
        %strong Status:
      %td= @project.status.titleize
    %tr
      %td 
        %strong Due Date:
      %td= @project.due_date



%section
  .row
    %h2.span3.bottom_margin Project Bookings
    .model_actions
      = link_to 'New Member', new_project_membership_path(:project_id => @project.id), :method => :get, class: 'btn'
  = render 'project_bookings', :project => @project
  %p (*) Project Lead

= link_to 'Back', projects_path
