- if @import_logs.empty?
  %br
  .help-block
    No logs here! Go import some things!
-else
  %table.table
    %th Date attempted
    %th Author
    %th Total attempted
    %th Invoice import summary
    - @import_logs.each do |log|
      %tr
        %td
          = @company.time_in_zone(log.performed_at)
          = "(#{distance_of_time_in_words(log.performed_at, Time.now.in_time_zone(log.company.time_zone))} ago)"
        %td= log.author_name
        %td= log.number_of_invoices
        %td
          - if log.successful_imports.respond_to? :each
            %table.table
              - log.successful_imports.each do |invoice_ref|
                %tr
                  %td
                    .green-ink
                      %span.bold Successfully imported:
                      %br
                      Invoice ref (or xero id) #{invoice_ref}
                      %br
                      Error: #{error}
          - if log.invoices_with_errors.respond_to?(:each)
            %table.table
              - log.invoices_with_errors.each do |invoice_ref, error|
                %tr
                  %td
                    .red-ink
                      %span.bold Errors:
                      %br
                      Invoice ref (or xero id) #{invoice_ref}
                      %br
                      Error: #{error}
          - else
            - log.invoices_with_errors
