%h1 Manual Invoice Comparison

%table.table.table-bordered
  %th
  %th
    %h2 Xero
  %th
    %h2 my.enspiral
  %tr
    %td invoice #
    %td
      - if @enspiral_invoice.xero_link != "#"
        = link_to @enspiral_invoice.xero_link, target: "_blank" do
          = @xero_invoice.reference
          %i{class: "icon-share"}
    %td
      = link_to @enspiral_invoice.id, company_invoice_path(@enspiral_invoice.company, @enspiral_invoice.id), target: "_blank"
  %tr
    %td Customer
    %td= @xero_invoice.contact.name
    %td= @enspiral_invoice.customer.name
  %tr
    %td Subtotal
    %td= @xero_invoice.attributes[:sub_total]
    %td= @enspiral_invoice.amount
  %tr
    %td Date
    %td= @xero_invoice.date
    %td= @enspiral_invoice.date
  %tr
    %td Due Date
    %td= @xero_invoice.due_date
    %td
      @enspiral_invoice.due
      = "#{@enspiral_invoice.company.time_zone_in_words}"
  %tr
    %td Date
    %td= @xero_invoice.date
    %td= @enspiral_invoice.date

.help-block
  If you press the "import and overwrite" button below, the my.enspiral invoice details will be replaced with those from the corresponding Xero invoice.

-#= form_tag 'xero_import_single', #overwrite: true, xero_id: @xero_invoice.invoice_id
-#  = submit_tag "Import and overwrite"


