%nav.navbar.bottom_margin
  .navbar-inner
    .custom_container.span12.hidden-phone
      #header_logo{ class: "#{"active" if params[:controller] == 'marketing' && params[:action] == 'index'}"}
        = link_to image_tag('logo_small.png'), root_path
      .special_nav.span12
        .nav_item.span3.nomar
          &nbsp;
        .nav_item.first{ class: "#{"active" if params[:controller] == 'marketing' && params[:action] == 'about'}"}
          =link_to 'Network', marketing_about_path
        .nav_item{ class: "#{"active" if params[:controller] == 'marketing/companies'}"}
          =link_to 'Ventures', ventures_path
        .nav_item{ class: "#{"active" if params[:controller] == 'marketing/people'}"}
          =link_to 'People', people_path
        .nav_item{ class: "#{"active" if params[:controller] == 'marketing'&& params[:action] == 'contact_us'}"}
          =link_to 'Contact', marketing_contact_us_path
        .nav_item
          =link_to 'Blog', 'http://blog.enspiral.com'

        .phase2
          .nav_item
            =link_to 'People', marketing_people_path
          .nav_item
            =link_to 'Companies', '/marketing/companies/'
          .nav_item
            =link_to 'Projects', '/marketing/projects/'
        .nav_item.right.icon
          =link_to '', 'http://www.twitter.com/enspiral', target: '_blank', id: 'twitter'
        .nav_item.right.icon.first_icon
          =link_to '', 'http://www.facebook.com/enspiral', target: '_blank', id: 'facebook'
        - if current_person
          .nav_item.right.last
            = link_to 'Sign Out', logout_path
          .nav_item.right
            = link_to 'Intranet', profile_path(current_person)
        - else
          .nav_item.right
            = link_to 'Intranet', login_path
    .phone_head.visible-phone
      #header_logo
        = link_to image_tag('logo_small.png'), root_path
      .nav_item.right
        %a{href: "#mobinav"}
    .layout_shadow_up.container


