%nav.navbar.bottom_margin
  .navbar-inner
    .custom_container.span12.hidden-phone
      #header_logo{ class: "#{"active" if current_page?( controller: 'marketing', action: 'index')}"}
        = link_to image_tag('logo_small.png'), root_path
      .special_nav.span12
        .nav_item.span3.nomar
          &nbsp;
        .nav_item.first{ class: "#{"active" if current_page?( controller: 'marketing', action: 'about')}"}
          =link_to 'About', marketing_about_path
        .nav_item{ class: "#{"active" if current_page?( controller: 'marketing', action: 'contact_us')}"}
          =link_to 'Contact', marketing_contact_us_path
        .phase2
          .nav_item{ class: "#{"active" if current_page?( controller: 'marketing/people')}"}
            =link_to 'People', marketing_people_path
          .nav_item{ class: "#{"active" if current_page?( controller: 'marketing/companies')}"}
            =link_to 'Companies', '/marketing/companies/'
          .nav_item{ class: "#{"active" if current_page?( controller: 'marketing/projects')}"}
            =link_to 'Projects', '/marketing/projects/'
        - if current_person
          .nav_item.right.last
            = link_to 'Sign Out', logout_path
          .nav_item.right
            = link_to 'Intranet', profile_path(current_person)
        - else
          .nav_item.right
            = link_to 'Intranet', login_path
    .phone_head.visible-phone
      #header_logo
        = link_to image_tag('logo_small.png'), root_path
      .nav_item.right
        %a{href: "#mobinav"}
    .layout_shadow_up.container


