= form_for([:admin, @country]) do |f|
  - if @country.errors.any?
    #error_explanation
      %h2
        = pluralize(@country.errors.count, "error")
        prohibited this country from being saved:
      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name
    = f.text_field :name
  = f.submit class: 'button'

