<h1>Change Password</h1>

<%= form_for User.new, :url => { :controller => 'passwords' } do |f| %>
<%= f.error_messages %>
<table>
  <tr>
    <td><%= label_tag :current_password %></td>
    <td><%= password_field_tag :current_password, nil, :size => 30 %></td>
  </tr>
  <tr>
    <td><%= f.label :password, 'New password' %></td>
    <td><%= f.password_field :password, :value => nil %></td>
  </tr>
  <tr>
    <td><%= f.label :password_confirmation, 'New password confirmation' %></td>
    <td><%= f.password_field :password_confirmation, :value => nil %></td>
  </tr>

  <tr>
    <td colspan='2'><%= f.submit 'Update' %></span></td>
  </tr>
</table>
<% end %>
