= form_for([:admin, @city]) do |f|
  - if @city.errors.any?
    #error_explanation
      %h2
        = pluralize(@city.errors.count, "error")
        prohibited this city from being saved:
      %ul
        - @city.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tr
      %td= f.label :country_id, 'Country'
      %td= f.select :country_id, Country.all.collect { |country| [country.name, country.id] }, :selected => @city.country_id
    %tr
      %td= f.label :name
      %td= f.text_field :name
  .actions
    = f.submit
