%h1 Cities
%table
  %tr
    %th Country
    %th City
    %th
    %th
  - @cities.each do |city|
    %tr
      %td= city.country.name
      %td= city.name
      %td= link_to 'Edit', edit_admin_city_path(city)
      %td= link_to 'Destroy', admin_city_path(city), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New City', new_admin_city_path
