- header = "Name,Metric"
- @formatted_dates.each do |date|
  - header += ",#{date}"
= header

- @peoples_capacity.each do |person, bookings|

  - utility_row = "#{person.name},% Utilitized"
  - availability_row = " ,Available Hours"
  - booked_row = " ,Booked Hours"

  - bookings.each do |week, total_hours|
    - utility_row += ",#{number_to_percentage(((total_hours.to_f / person.default_hours_available.to_f) * 100 ), :precision => 0)}"
    - availability_row += ",#{person.default_hours_available.to_i - total_hours.to_i}"
    - booked_row += ",#{total_hours}"

  = utility_row
  = availability_row
  = booked_row

