<%= form_for(@person, :url => admin_people_path) do |f| %>
<%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :first_name %></td>
	  <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
    <td><%= f.label :last_name %></td>
	  <td><%= f.text_field :last_name %></td>
  </tr>
  <tr>
    <td><%= f.label :job_title %></td>
		<td><%= f.text_field :job_title %></td>
  </tr>
  <tr>
    <td><%= f.label :email %></td>
	  <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.label :city_id %></td>
		<td><%= f.collection_select :city_id, City.all, :id, :name %></td>
  </tr>

  <%= f.fields_for :user do |u| %>
  <tr>
    <td><%= u.label :password %></td>
		<td><%= u.password_field :password %></td>
  </tr>
  <tr>
    <td><%= u.label :password_confirmation %></td>
		<td><%= u.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= u.label :role %> </td>
    <td><%= u.select :role, options_for_select(['contractor','staff','admin'])%></td>
  </tr>
  <% end %>


  <tr>
    <td colspan='2'><%= f.submit 'Update' %></span></td>
  </tr>
  </table>
<% end %>
