= form_for(@person, :url => admin_person_path) do |f|
  = f.error_messages
  .control-group
    = f.label :first_name
    = f.text_field :first_name
  .control-group
    = f.label :last_name
    = f.text_field :last_name
  .control-group
    = f.label :job_title
    = f.text_field :job_title
  .control-group
    = f.label :email
    = f.text_field :email
  .control-group
    =f.label :country_id, 'Country'
    =f.select :country_id, Country.order('name').collect { |country| [country.name, country.id] }, :selected => @person.country_id, :include_blank => true 
    %span or add a new country 
    =text_field_tag :country

  .control-group
    = f.label :city_id, 'City'
    = f.select :city_id, (@person.country.blank? ? [] : @person.country.cities.collect { |city| [city.name, city.id] }), :selected => @person.city_id, :include_blank => true 
    %span or add a new city 
    = text_field_tag :city 

  = f.fields_for :user do |u|
    .control-group
      = u.label :password
      = u.password_field :password
    .control-group
      = u.label :password_confirmation
      = u.password_field :password_confirmation
    .control-group
      = u.label :role
      = u.select :role, options_for_select(User::ROLES)
  .control-group
    = f.submit 'Update', class: 'btn'
