%h1 New Transaction
= form_for @transaction, :url => create_transaction_admin_person_path(@person) do |f|
  = f.hidden_field :account_id
  %p
    = f.label :date
    = f.text_field :date, :tabindex => 1
  %p
    = f.label :amount
    = f.text_field :amount, :tabindex => 2
  %p
    = f.label :description
    = f.text_field :description, :tabindex => 3
  = f.submit "Save", :tabindex => 4
:javascript
  $('#transaction_date').kalendae({ 
    months: 2,
    format: 'YYYY-MM-DD',
    viewStartDate: Kalendae.moment().subtract({M:1}),
    subscribe: {
     'change': function () {
         console.log(this.input.blur());
     }
   } 
  });
