<h1><%= @person.name %></h1>

<p>
  Account: <%= number_to_currency @person.account.balance %>
</p>
<p>
  Pending: <%= number_to_currency @person.pending_total %>
</p>

<p>
<%= link_to 'Add Transaction', new_transaction_admin_person_path(@person)  %>
</p>


<%= render :partial => '/transactions/transactions', :locals => {:transactions_with_totals => @person.account.transactions_with_totals} %>

