<% content_for :javascripts do %>
  <script>
    $(function () {
      var d1 = [
        <% @transactions.reverse.each do |transaction, sub_total| %>
          <%= "[#{transaction.date.to_time.to_i*1000}, #{sub_total}]," %>
        <% end %>
      ];

      var d2 = [
        <%= "[#{@transactions.first[0].date.to_time.to_i*1000}, #{@pending_total}]," %>
        <%= "[#{@transactions.last[0].date.to_time.to_i*1000}, #{@pending_total}]," %>
      ];
      
      function plotWithOptions(t) {
        $.plot($("#graph"), [
          {
            data: d2,
            color: "rgb(200, 200, 200)",
            lines: { 
              show: true,
              fill: true
            },
            threshold: { 
              below: t, 
              color: "rgb(175, 175, 175)" 
            }
          },
          {
            data: d1,
            color: "rgb(0, 155, 0)",
            lines: { 
              show: true,
              fill: true
            },
            threshold: { 
              below: t, 
              color: "rgb(155, 0, 0)" 
            }
          }
        ],
        { 
          xaxis: { 
            mode: "time", 
            timeformat: "%y/%m/%d" 
          },
          yaxis: {
            tickFormatter: function (val, axis) { return "$"+val; }
          }
        });
      }
   
      plotWithOptions(0);
    });
  </script>
<% end %>

<div id="graph" style="width:700px; height:250px;"></div>

<% if @transactions.size > 0 %>
  <table class='transactions'>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Running Total</th>
    </tr>

    <% @transactions.each do |transaction, sub_total| %>
      <tr class='transaction' style="color:<%= transaction.amount < 0 ? '#800' : '#060' %>;">
        <td><%= transaction.date %></td>
        <td><%= number_to_currency transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td style="font-weight:bold; color:<%= sub_total < 0 ? '#800' : '#060' %>;">
          <%= number_to_currency sub_total %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
