<% if transactions_with_totals.size > 0 %>
  <% content_for :javascripts do %>
    <script>
      $(function () {
        var d1 = [
          <% transactions_with_totals.reverse.each_with_index do |transactions_with_total, index| %>
            <%= "[#{index}, #{transactions_with_total[1]}]," %>
          <% end %>
        ];
        
        function plotWithOptions(t) {
          $.plot($("#graph"), [ {
            data: d1,
            color: "rgb(0, 155, 0)",
            threshold: { below: t, color: "rgb(155, 0, 0)" },
            lines: { show: true },
          } ]);
        }
     
        plotWithOptions(0);
      });
    </script>
  <% end %>

  <div id="graph" style="width:700px; height:250px;"></div>

  <table class='transactions'>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Running Total</th>
    </tr>

    <% transactions_with_totals.each do |transactions_with_total| %>
      <% transaction = transactions_with_total[0] %>
      <% sub_total = transactions_with_total[1] %>
      <% color = (transaction.amount < 0 ? '#800' : '#060') %>
      <% total_color = (sub_total < 0 ? '#800' : '#060') %>

      <tr class='transaction' style="color:<%= color %>;">
        <td><%= transaction.date %></td>
        <td><%= number_to_currency transaction.amount %></td>
        <td><%= transaction.description %></td>
        <td style="font-weight:bold; color:<%= total_color %>;">
          <%= number_to_currency sub_total %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
