- title("Services")

%table
  %tr
    %th Service Category
    %th Description
    %th Rate
    %th
    %th
  - @services.each do |service|
    %tr
      %td= service.service_category.name
      %td= service.description
      %td= service.rate
      %td= link_to 'Edit', edit_staff_service_path(service)
      %td= link_to 'Destroy', staff_service_path(service), :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Service', new_staff_service_path
