<h1>Services</h1>

<table>
  <tr>
    <th>Service Category</th>
    <th>Description</th>
    <th>Rate</th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.service_category.name %></td>
    <td><%= service.description %></td>
    <td><%= service.rate %></td>
    <td><%= link_to 'Edit', edit_staff_service_path(service) %></td>
    <td><%= link_to 'Destroy', staff_service_path(service), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_staff_service_path %>
