- if Rails.env.development?
  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
- else
  = javascript_include_tag "jquery"

-# For Flot (Using SVN version because 0.7 was broken for threshod using fill
/[if lte IE 8]
  = javascript_include_tag "excanvas.min"
= javascript_include_tag "jquery.flot", "jquery.flot.threshold"

:javascript
  $(function () {
    $("#flasher > div").delay(5000).fadeOut('slow');
    
    #{yield :javascript}
  });

