%h1 Project Memberships

%table
  %tr
    %th
    %th
    %th

  - @project_people.each do |staff_project_person|
    %tr
      %td= staff_project_person.person.name
      %td= staff_project_person.project.name
      %td= link_to 'Show', staff_project_person_path(staff_project_person)
      %td= link_to 'Edit', edit_staff_project_person_path(staff_project_person)
      %td= link_to 'Destroy', staff_project_person_path(staff_project_person), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project person', new_staff_project_person_path
