<div id="login">
<h1>Log In</h1>

<%= form_for @user_session do |form| %>
  <table>
    <tr>
      <td><%= form.label :email, "Email" %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :password, "Password" %></td>
      <td><%= form.password_field :password %></td>
    </tr>
  </table>
<p><%= form.submit "Log in" , :class => "button medium"%></p>
<% end %>
</div>
