<h1>Log In</h1>

<%= form_for @user_session do |form| %>
  <table>
    <tr>
      <td><%= form.label :email, "Email" %></td>
      <td><%= form.text_field :email %></td>
    </tr>
    <tr>
      <td><%= form.label :password, "Password" %></td>
      <td><%= form.password_field :password %></td>
    </tr>
    <tr>
      <td><%= form.submit "Log in" %></td>
    </tr>
  </table>
<% end %>
