= form_tag batch_update_staff_bookings_path, :method => :put do
  %table
    %thead
      %td 
        %strong= @project.name
      %td This Week
      %td Next Week
      %td #{(Date.today + 2.weeks).strftime('%b %-d')}
      %td #{(Date.today + 3.weeks).strftime('%b %-d')}
      %td #{(Date.today + 4.weeks).strftime('%b %-d')}
    %tr
      %td Your Availability:
      - for booking in @bookings
        %td 
          = hidden_field_tag 'bookings[][id]', booking.id
          = hidden_field_tag 'bookings[][week]', booking.week
          = number_field_tag 'bookings[][time]', booking.time, :size => '3', :min => '0', :max => '160'

  = submit_tag 'Update Project Availability'


