%footer#footer.clearfix
  #footer-left-col.clearfix
    %h2 contact enspiral
    %p
      If you have any questions or comments please feel free to contact us using the form
      below or email one of our contacts listed on the right. Thank you for your feedback.
    #contact-form
      = form_tag(contact_path) do
        %table
          %tr
            %td
              %label{:for => 'name'} name
            %td
              %input#name{:type => 'text', :name => 'name'}
            -#%td#type{:rowspan => 3}
              %label{:for => 'enquiry-type'} enquiry-type
              = select_tag('enquiry-type', options_for_select(['Question', 'Comment']))
          %tr
            %td
              %label{:for => 'email'} email
            %td
              %input#email{:type => 'text', :name => 'email'}
          %tr
            %td
              %label{:for => 'location'} location
            %td
              %input#location{:type => 'location', :name => 'location'}
          %tr
            %td
              %label{:for => 'enquiry'} enquiry
            %td{:colspan => 2}
              %textarea#enquiry{:type => 'text', :name => 'enquiry'}
          %tr
            %td
            %td
              = link_to_function image_tag('site_images/contact-submit.gif'), '$("#contact-form form").submit();'
  #footer-right-col.clearfix
    %p Feel free to get in touch if you would like more information:
    %p.main-contact                                                              
      = mail_to 'contact@enspiral.com', 'contact@enspiral.com', :class => 'email'
      %br
      or +64 21 684 485
    = render :partial => "people/contact", :collection => @contacts 
  %p.copyright copyright enspiral 2010. all rights reserved
  
