#nav.clearfix
  %ul
    %li.first
      = link_to 'home', root_path
    %li
      = link_to 'join us', recruitment_path
    %li
      = link_to 'blog', 'http://blog.enspiral.com'
    %li
      = link_to 'twitter', 'http://twitter.com/enspiral'
  -#
    %li
      = link_to 'our story', '#'
    %li
      = link_to 'teams', '#'
    %li
      = link_to 'case studies', '#'
    %li
      = link_to 'people', '#'
    %li
      = link_to 'employment', '#'
    
