#nav.clearfix
  %ul
    %li.first= link_to 'home', root_path
    %li= link_to 'about', about_path
    %li= link_to 'spotlight', spotlight_path
    %li= link_to 'join us', recruitment_path
    %li= link_to 'blog', 'http://blog.enspiral.com'
    = render :partial => "/layouts/user_links"

