#nav.clearfix
  %ul
    %li.first
      = link_to 'home', root_path
    %li
      = link_to 'join us', recruitment_path
    %li
      = link_to 'blog', 'http://blog.enspiral.com'
    %li
      = link_to 'twitter', 'http://twitter.com/enspiral'
    = render :partial => "/layouts/user_links"

