!!! 5
- html_tag :class => "no-js", :lang => "en" do
  = render :partial => '/layouts/pub_partials/head'
  %body{ :class => "#{ controller.controller_name }" }    
    = raw analytical.body_prepend_javascript
    <!--<![endif]-->
    %header#header.clearfix
      .container.clearfix
        #header_logo
          = link_to image_tag('logo.png'), root_path
        = render :partial => current_user.nil? ? '/layouts/pub_partials/nav' : '/layouts/pub_partials/dash_nav'
    #content.container
      - [:notice,:error,:alert].each do |key| next if flash[key].nil?
        %div{:class => "flash #{key}"}
          = flash[key]
      = yield

    -# Javascript at the bottom for fast page loading
    = render :partial => '/layouts/pub_partials/javascripts'
    = render :partial => '/layouts/pub_partials/footer'
