!!!
%html.no-js{:lang => "en"}
  = render :partial => '/layouts/head'
  -# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  %body.dashboard
    <!--<![endif]-->
    #outer-head
      %header#header.clearfix
        #header-logo
          = link_to 'Dash', root_path
      - if current_user
        = render :partial => '/layouts/dash_nav'
      #nav
    #outer-content
      #main
        #content
          - [:notice,:error,:alert].each do |key| next if flash[key].nil?
            %div{:class => "flash #{key}"}
              = flash[key]
          - if @current_user
            - if current_user.person
              - unless @current_user.person.has_gravatar?
                #gravatar-error.flash.error
                  %p
                    You don't have a gravatar attached to
                    =  current_user.person.email
                    please attach one
                    = link_to "here", 'http://en.gravatar.com/site/signup/', :target => "_blank"
                    to get rid of this annoying message
                    %p#bollocks
                      Bollocks! I have a gravatar, your method is madness...
                      = link_to 'Try again!', check_gravatar_once_person_path(current_user.person), :id => "check-gravatar-again", :class=>'button'
          #page.clearfix
            .left-col
              = yield
            .right-col
              = yield(:right)
              - if @current_user
                - if current_user && current_user.role == "admin"
                  #admin-manage
                    %h2 manage
                    %ul
                      %li
                        = link_to 'People', admin_people_path
                      %li
                        = link_to 'Invoices', admin_invoices_path
                      %li
                        = link_to 'Countries', admin_countries_path
                      %li
                        = link_to 'Cities', admin_cities_path
                      %li
                        = link_to 'Service Categories', admin_service_categories_path
                      %li
                        = link_to 'Customers', admin_customers_path
                - if current_user && current_user.role == "staff"
                  #admin-manage
                    %h2 manage
                    %ul
                      %li
                        = link_to 'Services', staff_services_path
                      %li
                        = link_to 'Funds Transfer', staff_funds_transfer_path

    -# Javascript at the bottom for fast page loading
    = render :partial => '/layouts/javascripts'
