<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Enspiral</title>
<%= stylesheet_link_tag 'style' %>
</head>

<body>
<div id="master">

	<!--this is the header section -->
    
    <div class="container">
    
    	<div class="header"> <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
    
    <!--nav goes here -->
   		 	<div class="menu">
    			<ul>
                          <li><%= link_to 'Home', root_path %></li>
                          <li><%= link_to 'Team', people_path %></li>
                          <li><%= link_to 'Services', services_path %></li>
                          <li><%= link_to 'Contact', contact_path %></li>
                        </ul>
     		</div>
    
    	</div>

		<div class="banner">
			<%= render :partial => 'layouts/banner' %>
		</div>

        		
		<div class="content">
            	
			<%= yield %>
	
			<%= render :partial => 'layouts/twitterjs' %>
	
	
		</div>
            

      <div class="clear"></div>       
     	<div class="copyright">
         	&copy Enspiral - Site Feedback - Site by enspiral  
        </div>
    
    </div>                

</div>

</body>
</html>
