<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Enspiral</title>
<%= stylesheet_link_tag 'style' %>
<%= javascript_include_tag :defaults %>
</head>

<body>
<div id="master">
    <div class="container">
    
    <div class="header"> <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
      <div class="menu">
        <ul>
          <li><%=link_to 'Home', root_path %></li>
          <li><%=link_to 'Recruitment', recruitment_path %></li>
          <li><%=link_to 'Ruby on Rails', rails_path %></li>
        </ul>
      </div>
    </div>

		<div class="content">
			<%= yield %>
		</div>
  </div>                
          
    <div class="copyright">
      &copy Enspiral Limited 2010
    </div>
</div>
<% if Rails.env == 'production' %>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-1616271-1");
  pageTracker._setDomainName("none");
  pageTracker._setAllowLinker(true);
  pageTracker._trackPageview();
  } catch(err) {}</script>
  <script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('58ce0cd7eac0521a0ed1ecb17ba0f0c6'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>
<% end %>
</body>
</html>
