!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title= yield(:title).blank? ? "Get Gigs Booked" : "Get Gigs Booked - #{yield(:title)}"

    = stylesheet_link_tag :all
    = stylesheet_link_tag "compiled/less"
    
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    
    /Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = javascript_include_tag "less-grid-4" if Rails.env.development?

    = csrf_meta_tag
    = yield(:head)
  
  %body{:lang => "en"}
    #flasher
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash-#{name}"
        
    #box-shaddow
      #header
        #user-controls
          %div
            - if user_signed_in?
              - if current_user.admin?
                = link_to "Dashboard", admin_dashboard_path
                \|
              = link_to "Logout", destroy_user_session_path

      #main
        #content
          = content_tag :h1, yield(:title) if show_title?
          = yield

        #footer
          Copyright ©2011 Enspiral Ltd.

    = yield(:javascript)
