!!! 5                                                                                                                                                
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
- html_tag :class => "no-js", :lang => "en" do
  = render :partial => '/layouts/intranet/head'
  %body{ :class => "#{ controller.controller_name }" }    
    = raw analytical.body_prepend_javascript
    <!--<![endif]-->
    %header#header.clearfix
      .container.clearfix
        #header_logo
          = link_to image_tag('logo.png'), root_path
        = render 'layouts/intranet/user_controls'
    #quicknav
      #popout_trigger.expander
        Q
      %nav#popout_nav.expandee
        =render partial: 'layouts/intranet/side_nav'

    =content_for :javascripts do
      :coffeescript
        quick_nav_expander = new Enspiral.Views.Expander(
          el: '#quicknav'
        )

    #content.container
      - [:notice,:error,:alert].each do |key| next if flash[key].nil?
        %div{:class => "flash #{key}"}
          = flash[key]
      = yield


    -# Javascript at the bottom for fast page loading
    = render :partial => '/layouts/intranet/javascripts'
-#!!! 5
-#%html
  -#%head
    -#= render "/layouts/partials/head"
  
  -#%body{:lang => "en"}
    -##container
      -##flasher
        -#- flash.each do |name, msg|
          -#= content_tag :div, msg, :id => "flash-#{name}"
          
      -##userspace
        -#= render "/layouts/partials/user_controls"
        -#= content_tag :h1, yield(:title) if show_title?

        -##main
          -##sidebar
            -#= render :partial => '/layouts/partials/side_nav'
            -#= yield(:right)
          -##content
            -#= yield

        -##footer Copyright ©2011 Enspiral Ltd.

  -#= render "/layouts/partials/javascript"
