!!! 5

%html
  %head
    = render "/layouts/partials/head"
  
  %body{:lang => "en"}
    #container
      #flasher
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash-#{name}"
          
      #userspace
        = render "/layouts/partials/user_controls"
        = content_tag :h1, yield(:title) if show_title?

        #main
          #sidebar
            = render :partial => '/layouts/partials/side_nav'
            = yield(:right)
          #content
            = yield

        #footer Copyright ©2011 Enspiral Ltd.

  = render "/layouts/partials/javascript"
