!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
- html_tag :class => "no-js", :lang => "en" do
  = render :partial => '/layouts/intranet/head'
  %body{ :class => "#{ controller.controller_name }" }
    = raw analytical.body_prepend_javascript
    <!--<![endif]-->
    %header#header
      %nav.navbar
        .navbar-inner
          .custom_container.span12
            .nav-collapse
              %ul.nav
                %li#header_logo
                  = link_to image_tag('logo.png'), root_path
                %li
                  =form_tag '/search', method: :get, class: "navbar-search span2 pull-left" do
                    =text_field_tag :big_search, params[:big_search], class: 'search-query span2', placeholder: 'Anything/Everything'
            .btn-group.pull-right
              %a.btn.dropdown-toggle{href: '#', data: {:toggle => 'dropdown'}}
                %i.icon-user
                =current_person.name
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'Edit profile', edit_profile_path
                %li= link_to 'Logout', destroy_user_session_path
    .container
      .row
        -[:notice, :success, :error,:alert].each do |key| next if flash[key].nil?
          %div{:class => "delayed-hide alert alert-#{key}"}
            %a.close{:data => {:dismiss => "alert"}}
            = flash[key]
        .span2
          .well.sidebar-nav
            %ul.nav.nav-list
              %li=link_to 'Roladex', roladex_path
              - if current_person.admin?
                %li=link_to 'Capacity', admin_capacity_path
              %li.nav-header.top Personal
              %li=link_to 'Profile', profile_path(current_person), method: 'get'
              %li=link_to 'Accounts', accounts_path
              %li=link_to 'Projects', projects_path
              %li=link_to 'Capacity', capacity_path

              -current_person.admin_companies.each do |c|
                %li.nav-header=c.name
                %li=link_to 'Accounts', company_accounts_path(c)
                %li=link_to 'Customers', company_customers_path(c)
                %li=link_to 'Projects', company_projects_path(c)
                %li=link_to 'Memberships',company_company_memberships_path(c)
                %li=link_to 'Invoices', company_invoices_path(c)
                %li=link_to 'Company Profile', edit_company_path(c)
                %li=link_to 'Invoices by Project', projects_company_invoices_path(c)
                %li=link_to 'Funds Transfer Templates', [c, :funds_transfer_templates]

              -if current_person.user.role == 'admin'
                %li.nav-header Admin
                %li=link_to 'Companies', admin_companies_path
                %li=link_to 'Countries', admin_countries_path
                %li=link_to 'Cities', admin_cities_path
                %li=link_to 'Groups', [:admin, :groups]
                %li=link_to 'Skills', [:admin, :skills]

              -if current_person.admin? or current_person.admin_companies
                %li= link_to 'Marketing Features', featured_items_path

        #content.span10
          = yield
    = render :partial => '/layouts/intranet/javascripts'
