!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title= yield(:title).blank? ? "Enspiral" : "Enspiral - #{yield(:title)}"

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    = stylesheet_link_tag "less"
    
    /Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = csrf_meta_tag
    = yield(:head)
  
  %body{:lang => "en"}
    #container
      #flasher
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash-#{name}"
          
      #userspace
        = render "/layouts/partials/user_controls"
        = content_tag :h1, yield(:title) if show_title?

        #main
          #sidebar
            = render :partial => '/layouts/partials/side_nav'
            = yield(:right)
          #content
            = yield

        #footer Copyright ©2011 Enspiral Ltd.

  = render "/layouts/partials/javascript"
