!!! 5                                                                                                                                                
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
- html_tag :class => "no-js", :lang => "en" do
  = render :partial => '/layouts/marketing/head'
  %body{ :class => "#{ controller.controller_name }" }    
    %header#header.clearfix
      = render partial: '/layouts/marketing/nav'
    = yield :full_width_page
    - unless content_for?(:full_width_page)
      .container.main
        .row{style: 'display: none;'}
          .grid_helper
            .span3
            .span3
            .span3
            .span3
        - [:notice,:error,:alert].each do |key| next if flash[key].nil?
          %div{:class => "flash #{key}"}
            = flash[key]
        = yield
        .push
    -# Javascript at the bottom for fast page loading
    = render :partial => '/layouts/marketing/javascripts'
    = render :partial => '/layouts/marketing/footer'
    
