!!!
%html.no-js{:lang => "en"}
  = render :partial => '/layouts/head'

  -# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  %body
    = raw analytical.body_prepend_javascript
    <!--<![endif]-->
    #outer-head
      %header#header.clearfix
        #header-logo
          = link_to 'Home', root_path
        %p#head-counter
          = "#{pluralize(Person.active.count, 'person')},"
          = "#{pluralize(City.count, 'city')},"
          = "#{pluralize(Country.count, 'country')}"
      = render :partial => '/layouts/nav'
    #outer-content
      #main
        #content
          - [:notice,:error,:alert].each do |key| next if flash[key].nil?
            %div{:class => "flash #{key}"}
              = flash[key]
          - if @has_banner
            #banner.clearfix
              = yield :banner
          #page.clearfix
            = yield

      = render :partial => '/layouts/footer'
    #footer-bottom
      = image_tag 'footer-bottom.png'
    -# Javascript at the bottom for fast page loading
    = render :partial => '/layouts/javascripts'
