<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Enspiral Staff</title>
<%= stylesheet_link_tag 'style', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' %>
<%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.custom.min", "jquery.tablesorter.min", "rails", "enspiral", :cache => 'staff-js' %>
</head>

<body>
<div id="master">

	<!--this is the header section -->
    
    <div class="container">
    
    	<div class="header"> <a id="logo" href="/"><img src="/images/logo.gif" alt="home"/></a>
    
    <!--nav goes here -->
   		 	<div class="menu">
    			<ul>
            <li><%= link_to 'Dashboard', staff_dashboard_path %></li>
            <li><%= link_to 'Notices', notices_path %></li>
            <li><%= link_to 'Change Password', new_password_path %></li>
          </ul>
          <div id="authentication">
            <%= link_to "Logout", logout_path %>
          </div>
     		</div>
    
    	</div>

		<div class="content">
		<% [:notice,:error].each do |key| 
			next if flash[key].nil?
		%>
		  <p class='flash <%= key %>'><%= flash[key]%></p> 
		<% end %>		
			<%= yield %>
	
		</div>
            
      <div class="clear"></div>       
     	<div class="copyright">
         	&copy Enspiral - Site Feedback - Site by enspiral  
        </div>
    
    </div>                

</div>

</body>
</html>
