-show_balances = true if local_assigns[:show_balances].nil?
%table.table.table-striped
  %thead
    %tr
      -if show_balances == true
        %th Name
        %th Available Balance
        %th Invoiced

  %tbody
    - accounts.each do |account|
      %tr
        -if account.people.include?(current_person)
          %td.text_filter= link_to account.name, account
        -else 
          %td.text_filter= account.name
        -if show_balances == true
          -if account.balance >= 0
            %td.green_ink= number_to_currency(account.balance)
          -else
            %td.red_ink= number_to_currency(account.balance)
          %td= number_to_currency(account.pending_total)

