- transactions = Transaction.transactions_with_totals(account.transactions.limit(20))

.row
  %h1.span5= account.name
  .model_actions.span5 
    =link_to 'Manage account owners', staff_account_permissions_path(account), class: 'btn'
.row
  .span10
    %p= account.description

#graph.graph

%h3= "#{number_to_currency account.balance} available"
- if transactions.present?
  %h1 
    Recent Transactions
    = link_to 'Transaction History', staff_account_history_path(account)
  = render 'transactions', {transactions: transactions}

- if account.invoice_allocations.present?
  %h3= "#{number_to_currency account.pending_total} invoiced"
  %h2 Invoices Awaiting Payment
  = render 'invoice_allocations', {invoice_allocations: account.invoice_allocations.pending}

- content_for :javascripts do
  :javascript
    $.ajax({
      url      : "#{staff_account_balances_url(account, 10)}",
      dataType : "json",
      success  : function(data) {
        $.plot($("#graph"), [{ data: data }], {
          series: {
            color: "rgb(0, 155, 0)",
            lines: { 
              show: true,
              fill: true,
              steps: true
            },
            points: {
              show: true
            }
            threshold: { 
              below: 0, 
              color: "rgb(155, 0, 0)" 
            }
          },
          grid: { hoverable: true },
          xaxis: { 
            mode: "time", 
            timeformat: "%m/%d" 
          },
          yaxis: {
            tickFormatter: function (val, axis) { return "$" + (val/1000) + "k"; }
          }
        });
      }
    });

    function showTooltip(x, y, contents) {
      $('<div id="tooltip">' + contents + '</div>').css({
        position: 'absolute',
        display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #ccc',
        padding: '2px',
        'background-color': '#fff',
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    }
 
    var previousPoint = null;

    $("#graph").bind("plothover", function(event, pos, item) {
      $("#x").text(pos.x.toFixed(2));
      $("#y").text(pos.y.toFixed(2));

      if (item) {
        if (previousPoint != item.dataIndex) {
          previousPoint = item.dataIndex;
          
          $("#tooltip").remove();
          var x = new Date(item.datapoint[0]);
          var y = item.datapoint[1];

          var formattedDate = x.getFullYear() + "-";
          
          var day = x.getDate();
          if ( day < 10 ) { formattedDate += "0"; }
          formattedDate += day;
          
          var month = x.getMonth();
          if ( day < 10 ) { formattedDate += "0"; }
          formattedDate += day;

          showTooltip(
            item.pageX, 
            item.pageY, 
            x.getFullYear() + "-" + x.getMonth() + "-" + x.getDate() + " : $" + y
          );
        }
      }
      else {
        $("#tooltip").remove();
        previousPoint = null;            
      }
    });


