%table.table.table-striped
  %thead
    %tr
      %th Invoiced
      %th Due
      %th Customer
      %th Invoice
      %th Paid on
      %th Amount
  %tbody
    - invoice_allocations.each do |invoice_allocation|
      - next if invoice_allocation.disbursed
      - is_late = invoice_allocation.invoice.due < Date.today ? "red_ink" : ""
      %tr{:class => is_late}
        %td.date= nice_date invoice_allocation.invoice.date
        %td.date= nice_date invoice_allocation.invoice.due
        %td= invoice_allocation.invoice.customer.nil? ? "N/A" : invoice_allocation.invoice.customer.name
        %td= link_to "#{invoice_allocation.invoice.id}/ Xero: #{invoice_allocation.invoice.xero_reference}", company_invoice_path(@account.company_id, invoice_allocation.invoice.id)
        - if invoice_allocation.invoice.paid?
          %td.number= nice_date invoice_allocation.invoice.paid_on || invoice_allocation.updated
        - else
          %td.number= "-----"
        - allocation_total = invoice_allocation.allocated_amount.to_f * (1.0 - invoice_allocation.contribution.to_f)
        %td.number= number_to_currency allocation_total

