%table.table.table-striped
  %thead
    %tr
      %th Invoiced
      %th Due
      %th Customer
      %th For Hours
      %th Amount
  %tbody
    - invoice_allocations.each do |invoice_allocation|
      - next if invoice_allocation.disbursed
      - is_late = invoice_allocation.invoice.due < Date.today ? "red_ink" : ""
      %tr{:class => is_late}
        %td.date= nice_date invoice_allocation.invoice.date
        %td.date= nice_date invoice_allocation.invoice.due
        %td= invoice_allocation.invoice.customer.name
        %td.number= invoice_allocation.for_hours
        %td.number= number_to_currency invoice_allocation.renumeration_amount

